<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/common/sidebar.css">
    <link rel="stylesheet" href="/css/common/header.css">

    <script src="https://kit.fontawesome.com/b289d4a0af.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="overlay"></div> <!-- 흐림 효과 오버레이 추가 -->
      <!-- Header -->
      <header id="mainHeader" class="main-header">
        <nav class="header-nav">
            <ul><a href="#"><img src="/images/logo.png" alt=""></a></ul>
            <ul class="dep1">
                <a href="#">쇼핑하기</a>
                <div class="dropdown">
                    <div class="dropdownContainor">
                        <div class="info">
                                <li><a href="#">Galaxy Phone</a></li>
                                <li><a href="#">iPhone</a></li>
                                <li><a href="#">Galaxy Tab</a></li>
                                <li><a href="#">iPad</a></li>
                            </div>
                            <div class="sideMenuContainer">
                                <div class="sideMenu1">
                                    <h5 style="margin-bottom: 5px;">구매하기</h5>
                                    <span style="margin-bottom: 5px; color: #6C6C6C; font-size: 25px;">원하는 종류를 선택하세요</span>
                                </div>
                                <div class="sideMenu2" id="galaxy-content">
                                    <p id="selectionMessage" style="display: none; margin-top: 30px; font-weight: bold;">종류별</p>
                                    <ul id="buy_phoneModels" style="display: none;">
                                        <div class="buy_phoneModels-box">
                                            <li>갤럭시 S24 Ultra</li>
                                            <li>갤럭시 S24 Plus</li>
                                            <li>갤럭시 S24</li>
                                        </div>
                                        <div class="buy_phoneModels-box">
                                            <li>갤럭시 Z폴드6 5G</li>
                                            <li>갤럭시 Z폴드5 5G</li>
                                            <li>갤럭시 Z플립6 5G</li>
                                            <li>갤럭시 Z플립5 5G</li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="sideMenu3"></div>
                            </div>
                    </div>
                    </div>
                </ul>
            </ul>
            <ul class="dep2">
                <a href="#">판매하기</a>
                <div class="dropdown">
                    <div class="dropdownContainor">
                        <div class="info">
                                <li><a href="#">Galaxy Phone</a></li>
                                <li><a href="#">iPhone</a></li>
                                <li><a href="#">Galaxy Tab</a></li>
                                <li><a href="#">iPad</a></li>
                            </div>
                            <div class="sideMenuContainer">
                                <div class="sideMenu1">
                                    <h5 style="margin-bottom: 5px;">판매하기</h5>
                                    <span style=" color: #6C6C6C; font-size: 25px;">원하는 종류를 선택하세요</span>
                                </div>
                                <div class="sideMenu2" id="galaxy-content">
                                    <p id="selectionMessage" style="display: none; margin-top: 30px; font-weight: bold;">종류별</p>
                                    <ul id="sell_phoneModels" style="display: none;">
                                        <div class="sell_phoneModels-box">
                                            <li>갤럭시 S24 Ultra</li>
                                            <li>갤럭시 S24 Plus</li>
                                            <li>갤럭시 S24</li>
                                        </div>
                                        <div class="sell_phoneModels-box">
                                            <li>갤럭시 Z폴드6 5G</li>
                                            <li>갤럭시 Z폴드5 5G</li>
                                            <li>갤럭시 Z플립6 5G</li>
                                            <li>갤럭시 Z플립5 5G</li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="sideMenu3"></div>
                            </div>
                    </div>
                    </div>
                </ul>
            </ul>
            <ul><a href="#">고객센터</a></ul>
        </nav>
        <div class="header-auth">
            <input type="text" placeholder="" />
            <div th:unless= "${session.loginMember}">
                <a href="#">로그인</a> | <a href="#">회원가입</a>
            </div>

            <div class="menu-container" th:if="${session.loginMember}">
            
                <p class="sideP" th:text="${session.loginMember.memberName}"></p>
            
                <a href="#" class="sideItem">마이 페이지</a> 
                <a href="#" class="sideItem" th:if="${#strings.equals((session.loginMember.memberFl), '2')}">관리자 페이지</a> 
                <a href="#" cass="sideItem">로그 아웃</a>
              </div>

            </div>
           
        </div>
    </header>

    

    <script src="/js/common/header.js"></script>
    
    <th:block th:replace= "~{common/sidebar}"></th:block>
    <script src="/js/common/sidebar.js"></script>

</body>
</html>
