<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/common/sidebar.css">
    <link rel="stylesheet" href="/css/common/header.css">

    <script src="https://kit.fontawesome.com/b289d4a0af.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header -->
    <header id="mainHeader" class="main-header">
        <nav class="header-nav">
            <ul>
                <a href="/"><img id="logo" src="/images/logo.png" alt="Logo"></a>
            </ul>
            
            <script th:inline="javascript">
                // 로그인 여부와 memberNo를 서버에서 Thymeleaf로 전달
                const memberNo = /*[[${session.loginMember != null ? session.loginMember.memberNo : 0}]]*/ 0;
            </script>
            
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const logo = document.getElementById('logo');
                    
                    // memberNo가 0이 아니라면 로그인이 된 것으로 간주
                    if (memberNo !== 0) {
                        logo.src = '/images/logo_login.png'; // 로그인된 상태의 로고
                    }
                });
            </script>
            
            <ul class="dep1">
                <a href="/deviceList">쇼핑하기</a>
                <div class="dropdown" id="dropdown">
                    <div class="dropdownContainor">
                        <div class="info">
                            <li><a href="#">Galaxy Phone</a></li>
                            <li><a href="#">iPhone</a></li>
                            <li><a href="#">Galaxy Tab</a></li>
                            <li><a href="#">iPad</a></li>
                        </div>
                        <div class="sideMenuContainer">
                            <div class="sideMenu1">
                                <h5 style="margin-bottom: 5px;">구매하기</h5>
                                <span id="selectionMessage" style="margin-bottom: 5px; color: #6C6C6C; font-size: 25px;">원하는 종류를 선택하세요</span>
                            </div>
                            <div class="sideMenu2" id="galaxy-content">
                                <ul class="grid-list" id="buy_phoneModels_galaxy" style="display: none;"></ul>
                                <a href="/deviceList/deviceList" class="more-button" id="moreButton" style="display: none;">더보기 +</a>
                            </div>
                            <div class="sideMenu2" id="iphone-content">
                                <ul class="grid-list" id="buy_phoneModels_iphone" style="display: none;"></ul>
                                <a href="/deviceList" class="more-button" id="moreButton" style="display: none;">더보기 +</a>
                            </div>
                            <div class="sideMenu2" id="galaxytab-content">
                                <ul class="grid-list" id="buy_phoneModels_galaxytab" style="display: none;"></ul>
                                <a href="/deviceList" class="more-button" id="moreButton" style="display: none;">더보기 +</a>
                            </div>
                            <div class="sideMenu2" id="ipad-content">
                                <ul class="grid-list" id="buy_phoneModels_ipad" style="display: none;"></ul>
                                <a href="/deviceList" class="more-button" id="moreButton" style="display: none;">더보기 +</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            </ul>
            <ul class="dep2">
                <a href="/deviceSellList">판매하기</a>
                <div class="dropdown" id="dropdown">
                    <div class="dropdownContainor">
                        <div class="info">
                            <li><a href="#">Galaxy Phone</a></li>
                            <li><a href="#">iPhone</a></li>
                            <li><a href="#">Galaxy Tab</a></li>
                            <li><a href="#">iPad</a></li>
                        </div>
                        <div class="sideMenuContainer">
                            <div class="sideMenu1">
                                <h5 style="margin-bottom: 5px;">판매하기</h5>
                                <span id="sellselectionMessage" style="margin-bottom: 5px; color: #6C6C6C; font-size: 25px;">원하는 종류를 선택하세요</span>
                            </div>
                            <div class="sideMenu2" id="galaxy-content">
                                <ul class="grid-list" id="sell_phoneModels_galaxy" style="display: none;"></ul>
                                <form>
                                    <a href="/deviceList/deviceSellList" class="more-button" id="sellmoreButton" style="display: none;">더보기 +</a>
                                </form>
                            </div>
                            <div class="sideMenu2" id="iphone-content">
                                <ul class="grid-list" id="sell_phoneModels_iphone" style="display: none;"></ul>
                                <a href="/deviceSellList" class="more-button" id="sellmoreButton" style="display: none;">더보기 +</a>
                            </div>
                            <div class="sideMenu2" id="galaxytab-content">
                                <ul class="grid-list" id="sell_phoneModels_galaxytab" style="display: none;"></ul>
                                <a href="/deviceList" class="more-button" id="sellmoreButton" style="display: none;">더보기 +</a>
                            </div>
                            <div class="sideMenu2" id="ipad-content">
                                <ul class="grid-list" id="sell_phoneModels_ipad" style="display: none;"></ul>
                                <a href="/deviceList" class="more-button" id="sellmoreButton" style="display: none;">더보기 +</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <ul><a href="/help/notice">고객센터</a></ul>
        </nav>
        <div class="header-auth">
            <div class="search-container-1">
                <form action="searchDevice" method="get" id="searchDevice">
                    <input class="search-input" id="searchInput" type="text" name="query" placeholder="제품명을 입력하세요">
                    <button class="searchB" id="searchB"><img src="/images/search.png" alt=""></button>
                </form>
            </div>
            <div th:unless="${session.loginMember}">
                <a href="/myPage/myPageLogin">로그인</a> | <a href="/signUp/signUpAccount">회원가입</a>
            </div>
            <div class="menu-container" th:if="${session.loginMember}">

<!--                 <p class="sideP" th:text="${session.loginMember.memberName}"></p>

                <a href="/myPage/myPageMain" class="sideItem">마이 페이지</a>
                <a href="#" class="sideItem" th:if="${#strings.equals((session.loginMember.memberFl), '2')}">관리자 페이지</a>
                <a href="/myPage/logout" cass="sideItem">로그 아웃</a>
            </div>

        </div>
        </div>
    </header>



    <script src="/js/common/header.js"></script>

    <th:block th:replace="~{common/sidebar}"></th:block> -->
                <p class="sideP" th:text="${session.loginMember.memberName}"></p>
                <a href="/myPage/myPageMain" class="sideItem">마이 페이지</a>
                <a href="/admin" class="sideItem" th:if="${#strings.equals((session.loginMember.memberFl), '2')}">관리자 페이지</a>
                <a href="/myPage/logout" class="sideItem">로그아웃</a>
            </div>
        </div>
    </header>
    <th:block th:replace="~{common/sidebar}"></th:block>

    <script th:inline="javascript">
        const notificationLoginCheck = /*[[${session.loginMember} ? true : false ]]*/ false;
        const notificationLoginNo = /*[[${session.loginMember} ? ${session.loginMember.memberNo} : 0 ]]*/ 0;
    </script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/sidebar.js"></script>
    <script src="/js/sse/sse.js"></script>
</body>

</html>