<div class="sidebar-button">
  <img src="/images/상담.jpg" style="object-fit: cover; width: 70px; height: 70px;">
</div>
<div class="sidebar-div divHidden">
  <div class="sidebar-div-content">
    <div style="width: 100%; height: 16%;" class="sidebar-div-content-header">
      <div style="width: 30%; height: 100%;">
        <img src="/images/로고.png" style="margin: 23px; width: 73px; height: 40px;">
      </div>
      <div style="width: 70%; height: 100%;">
        <p style="color: #d7d7d7; font-size: 30px; margin: 0; margin-top: 5px;">B.C.S</p>
        <p style="color: #919191; font-size: 15px; margin: 0;">중고폰 거래 사이트</p>
      </div>
      <div >

      </div>
    </div>
  </div>
  <div class="sidebar-div-footer">
    <div class="sidebar-div-footer-1"><i class="fa-solid fa-house" style="font-size: 25px;"></i><br>홈</div>
    <div class="sidebar-div-footer-2"><i class="fa-regular fa-comment" style="font-size: 25px;"></i><br>채팅</div>
    <div class="sidebar-div-footer-3"><i class="fa-regular fa-user" style="font-size: 25px;"></i><br>내정보</div>
  </div>
</div>