<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<div class="sidebar-button">
<div style="position: relative;">
    <img src="/images/chatting.png" style="object-fit: cover; width: 70px; height: 70px; scale: 80%;">
    <div class="sidebarAr">N</div>
</div>
</div>

<div class="sidebar-div divHidden">
  <div class="sidebar-div-content">
    






  </div>
  <div class="sidebar-div-footer">
    <div class="sidebar-div-footer-1"><i class="fa-solid fa-house" style="font-size: 25px;"></i><br>홈</div>
    <div class="sidebar-div-footer-2"><i class="fa-regular fa-comment" style="font-size: 25px;"></i><br><i style="margin-right: 2px;" class="sidebar-2-ar">!!</i>채팅<i style="margin-left: 2px;" class="sidebar-2-ar">!!</i></div>
    <div class="sidebar-div-footer-3"><i class="fa-regular fa-user" style="font-size: 25px;"></i><br>내정보</div>
  </div>
</div>
