<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/adminRegistration.css">
    <title>매물 등록</title>
</head>

<body>
    <!-- 등록 박스 -->
    <div class="decalcomanie" style="display: flex;">
        <div class="adminRegistration-box">
            <div class="mypageUpdate-title">매물등록</div><br>
            <div class="mypageUpdate-title" style="margin-bottom: 40px; font-size: 20px;">상세스펙</div>
            
            <form action="registrationChange" method="POST" name="registrationForm" class="registrationForm">
                <section class="imgText">
                    <div>
                        <img src="/images/sample_iphone16_blue.png" alt="" class="imgBox">
                        <button type="button" class="choiceBtn" id="open-popup">기종선택하기</button>
                    </div>

                    <div>
                        <div class="registration">
                            <label for="registrationNumber">기종번호</label>
                            <input type="text" id="registrationNumber" name="registrationNumber" placeholder="기종번호 입력">
                        </div>
                        <div class="registration">
                            <label for="registrationGrade">등급</label>
                            <input type="text" id="registrationGrade" name="registrationGrade" placeholder="등급 입력">
                        </div>
                        <div class="registration">
                            <label for="registrationCapacity">용량</label>
                            <input type="text" id="registrationCapacity" name="registrationCapacity" placeholder="용량 입력">
                        </div>
                        <div class="registration">
                            <label for="registrationColor">색상</label>
                            <input type="text" id="registrationColor" name="registrationColor" placeholder="색상 입력">
                        </div>
                    </div>
                </section>

                <div class="btn-container">
                    <button type="submit" class="registrationUpdate">매물등록</button>
                    <button type="button" class="registrationDelete">취소</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 팝업 레이어 -->
    <div id="popup-layer" class="popup hidden">
        <div class="popup-content">
            <h2>휴대기기 선택</h2>
            <div class="popup-grid">
                <div class="company">
                    <h3>제조사</h3>
                    <ul id="manufacturer-list">
                        <li class="buttonChoice">APPLE</li>
                        <li class="buttonChoice">SAMSUNG</li>
                        <li class="buttonChoice">iPad</li>
                        <li class="buttonChoice">Galaxy Tab</li>
                    </ul>
                </div>
                <div class="model">
                    <h3>모델</h3>
                    <ul id="model-list">
                        <li class="buttonChoice1">아이폰 15Pro</li>
                        <li class="buttonChoice1">갤럭시 Z 플립 7</li>
                        <li class="buttonChoice1">iPad Pro 4세대</li>
                        <li class="buttonChoice1">Galaxy Tab S7 Ultra</li>
                        <li class="buttonChoice1">Galaxy Tab S7 Ultra</li>
                        <li class="buttonChoice1">Galaxy Tab S7 Ultra</li>
                        <li class="buttonChoice1">Galaxy Tab S7 Ultra</li>
                        <li class="buttonChoice1">Galaxy Tab S7 Ultra</li>
                        <li class="buttonChoice1">Galaxy Tab S7 Ultra</li>
                    </ul>
                </div>
            </div>
            <button id="close-popup" type="button">적용하기</button>
        </div>
    </div>
    <!-- 팝업 레이어 -->

    <script src="/js/adminJs/adminRegistration.js"></script>
</body>

</html>
