<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/admin/header.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
  <link rel="stylesheet" href="/css/admin/admin-header.css">
</head>
<body>
  
  

  <main>
<div class="blur-box">
  <div class="overlay"></div> <!-- 흐림 효과 오버레이 추가 -->
  <!-- Header -->
  <header class="main-header">
    <nav class="header-nav">
        <ul><a href="#"><img src="images/logo(login).png" alt=""></a></ul>
        <ul class="dep1">
            <a href="#">쇼핑하기</a>
            <ul class="dropdown">
                <li><a href="#">Galaxy Phone</a></li>
                <li><a href="#">iPhone</a></li>
                <li><a href="#">Galaxy Tab</a></li>
                <li><a href="#">iPad</a></li>
            </ul>
        </ul>
        <ul class="dep2"><a href="#">판매하기</a></ul>
        <ul><a href="#">고객센터</a></ul>
    </nav>
    <div class="header-auth">
        <input type="text" placeholder="" />
        <a href="#">로그인</a> | <a href="#">회원가입</a>
    </div>
</header>
</div>
    <!-- <section class="left-section">
      레프트 섹션
    </section> -->

    <section class="main-section">

      <div class="photo">
        <img src="images/header.jpg" alt="header사진" class="header-img">
      </div>

      <h2 class="page-message">관리자 페이지</h2>
      <hr>


      <div class="box-out">
        <!-- 첫번째 줄 -->
        <div class="box-in">
                <div>          
                  <a href="asd">                  
                  <div class="box-list"><img src="images/user.jpg" alt=""></div>
                  </a>
                  <p>회원관리</p>
                </div>
          <div>    
            <a href="asd">                  
              <div class="box-list"><img src="images/list.png" alt=""></div>
              </a>
            <p>게시글 관리</p>
          </div>
          <div>         
            <a href="asd">                  
              <div class="box-list"><img src="images/event.png" alt=""></div>
            </a> 
            <p>이벤트 등록</p>
          </div>
        </div>
        <!-- 두번째 줄 -->
        <div class="box-in">
          <div>        
            <a href="asd">                  
              <div class="box-list"><img src="images/delivery.png" alt=""></div>
            </a>  
             <p>배송 내역 조회</p>
            </div>
            <div>    
              <a href="asd">                  
                <div class="box-list"><img src="images/message.png" alt=""></div>
              </a>      
              <p>1:1 상담목록</p>
            </div>
            <div>     
              <a href="asd">                  
                <div class="box-list"><img src="images/noteBook.png" alt=""></div>
              </a>     
              <p>구매 신청 관리</p>
            </div>
        </div>
        <!-- 세번째 줄 -->
        <div class="box-in">
          <div>      
            <a href="asd">                  
              <div class="box-list"><img src="images/+icon.png" alt=""></div>
            </a>   
            <p>매물 등록</p>
          </div>
          <div class="box-list"></div>
          <div class="box-list"></div>
        </div>
      </div>


    </section>

    <!-- <section class="right-section">
      라이트 섹션
    </section>  -->
  </main>
  <footer>
    푸터
  </footer>

</body>
</html>