<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/adminModelRegistration.css">
    <title>기종등록</title>
</head>

<body>

    <form action="adminModelRegistration/insert" method="post" enctype="multipart/form-data">
        <div class="title">
            <!-- 메인 색 첨부 -->
            <a href="http://localhost/admin" class="menu">←</a>
        </div>
        <h1>기종등록</h1>
        <div class="main-img-container">
            <p>메인 사진</p>
            <div class="main-img-gray-bc">
                <div class="main-img">
                    <img src="" class="preview">
                </div>
                <input type="file" class="input-img" name="divceImg">
                <span class="delete_image">&times;</span>
            </div>
        </div>

        <!-- 단일 색 첨부 -->
        <div class="main-color-container">
            <p>단일 색 사진</p>
            <div class="main-color-img-bc">
                <div class="main-color-first">
                    <div class="main-color-in-radios">
                        <div class="main-img">
                            <img src="" class="preview">
                        </div>
                        <div>
                            <input type="file" class="input-img" name="colorImg">
                            <span class="delete_image">&times;</span>
                        </div>
                    </div>
                    <div class="main-color-in-radios">
                        <div class="main-img">
                            <img src="" class="preview">
                        </div>
                        <div>
                            <input type="file" class="input-img" name="colorImg">
                            <span class="delete_image">&times;</span>
                        </div>
                    </div>
                    <div class="main-color-in-radios">
                        <div class="main-img">
                            <img src="" class="preview">
                        </div>
                        <div>
                            <input type="file" class="input-img" name="colorImg">
                            <span class="delete_image">&times;</span>
                        </div>
                    </div>

                    <div class="colorText">
                        <h2>왼쪽부터 순차적으로 입력</h2>
                        <div>
                            이름 :
                            <!-- 색 이름 -->
                            <input type="text" name="colorText">
                            <input type="text" name="colorText">
                            <input type="text" name="colorText">
                        </div>
                        <hr>
                        <div>
                            색상코드 :
                            <!-- 색상 코드 -->
                            <input type="text" name="colorText">
                            <input type="text" name="colorText">
                            <input type="text" name="colorText">
                        </div>
                        <p>*색상이 존재하지않으면 빈칸.</p>
                    </div>
                </div>

                <div class="main-color-last">
                    <div class="main-color-in-radios">
                        <div class="main-img">
                            <img src="" class="preview">
                        </div>
                        <div>
                            <input type="file" class="input-img" name="colorImg">
                            <span class="delete_image">&times;</span>
                        </div>
                    </div>
                    <div class="main-color-in-radios">
                        <div class="main-img">
                            <img src="" class="preview">
                        </div>
                        <div>
                            <input type="file" class="input-img" name="colorImg">
                            <span class="delete_image">&times;</span>
                        </div>
                    </div>
                    <div class="main-color-in-radios">
                        <div class="main-img">
                            <img src="" class="preview">
                        </div>
                        <div>
                            <input type="file" class="input-img" name="colorImg">
                            <span class="delete_image">&times;</span>
                        </div>
                    </div>
                    <div class="colorText">
                        <h2>왼쪽부터 순차적으로 입력</h2>
                        <div>
                            이름 :
                            <!-- 색 이름 -->
                            <input type="text" name="colorName">
                            <input type="text" name="colorName">
                            <input type="text" name="colorName">
                        </div>
                        <hr>
                        <div>
                            색상코드 :
                            <!-- 색상 코드 -->
                            <input type="text" name="colorCode">
                            <input type="text" name="colorCode">
                            <input type="text" name="colorCode">
                        </div>
                        <p>*색상이 존재하지않으면 빈칸.</p>
                    </div>
                </div>

            </div>
        </div>
        <!-------------- 상세 스펙 적는 ---------------->
        <div class="main-content-container">
            <p>상세 스펙</p>
            <div class="main-content-arrow">
                <!-- 제목 -->
                <div class="main-content-right">
                    <!-- 출시일 -->
                    <p name="deviceReleaseDate">출시일</p>

                    <!-- 출고가 -->
                    <p name="deviceReleasePrice">출고가</p>

                    <!-- 운영체제 -->
                    <p name="deviceOs">운영체제</p>

                    <!-- 해상도 -->
                    <p name="deviceResolution">해상도</p>

                    <!-- 기종 화소 밀도 -->
                    <p name="devicePixel">기종 화소 밀도</p>

                    <!-- 기종 전면 화소 -->
                    <p name="deviceFrontPixel">기종 전면 화소</p>

                    <!-- 기종 후면 화소 -->
                    <p name="deviceBackPixel">기종 후면 화소</p>

                    <!-- 기종 무게 -->
                    <p name="deviceWeight">기종 무게</p>

                    <!-- 배터리 용량 -->
                    <p name="deviceBatteryCapacity">배터리 용량</p>

                    <!-- 디바이스 이름 -->
                    <p name="deviceName">디바이스 이름</p>

                    <!-- 내폰사기 -->
                    <p name="deviceBuyingPrice">내폰사기</p>

                    <!-- 내폰 팔기 -->
                    <p name="deviceSellingPrice">내폰 팔기</p>

                    <!-- cpu 이름 -->
                    <p name="deviceCpuName">cpu 이름</p>
                </div>
                <!-- 입력할 값 -->
                <div class="main-content-left">
                    <!-- 출시일 -->
                    <input type="text" name="deviceReleaseDate">

                    <!-- 출고가 -->
                    <input type="text" name="deviceReleasePrice">

                    <!-- 운영체제 -->
                    <input type="text" name="deviceOs">

                    <!-- 해상도 -->
                    <input type="text" name="deviceResolution">

                    <!-- 기종 화소 밀도 -->
                    <input type="text" name="devicePixel">

                    <!-- 기종 전면 화소 -->
                    <input type="text" name="deviceFrontPixel">

                    <!-- 기종 후면 화소 -->
                    <input type="text" name="deviceBackPixel">

                    <!-- 기종 무게 -->
                    <input type="text" name="deviceWeight">

                    <!-- 배터리 용량 -->
                    <input type="text" name="deviceBatteryCapacity">

                    <!-- 디바이스 이름 -->
                    <input type="text" name="deviceName">

                    <!-- 내폰사기 -->
                    <input type="text" name="deviceBuyingPrice">

                    <!-- 내폰 팔기 -->
                    <input type="text" name="deviceSellingPrice">
                    <!-- cpu 이름 -->
                    <input type="text" name="deviceCpuName">




                </div>
            </div>

        </div>
<!-------------- 상세 스펙 적는 ---------------->
        <div class="main-content-container-bottom">

            <!-- 램 -->
            <h2>램 용량 선택</h2>
            <select name="ramCapacity" id="ram">
                <option value="1">2 GB</option>
                <option value="2">4 GB</option>
                <option value="3">6 GB</option>
                <option value="4">8 GB</option>
                <option value="5">12 GB</option>
            </select>
            <h2>기종 제조사</h2>
            <select name="deviceBrand" id="brand">
                <option>삼성</option>
                <option>APLLE</option>
                <option>태블릿</option>
            </select>

            <!-- 디스플레이 입력 -->
            <h2>디스플레이 입력</h2>
            <input type="text" name="displaySize">


        </div>

        <div class="insert-btn">
            <button>등록</button>
        </div>
    </form>







</body>
<script src="/js/adminJS/adminModelRegistration.js"></script>

</html>