<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/adminModelRegistration.css">
    <title>기종등록</title>
</head>

<body>
    
<div class="title">
        <!-- 메인 색 첨부 -->
            <a href="http://localhost/admin" class="menu">←</a>
    </div>
    <h1>기종등록</h1>
    <div class="main-img-container">
        <p>메인 사진</p>
        <div class="main-img-gray-bc">
            <div class="main-img">
                <input type="file">
            </div>
        </div>
    </div>

    <!-- 단일 색 첨부 -->
    <div class="main-color-container">
        <p>단일 색 사진</p>
        <div class="main-color-img-bc">
            <div class="main-color-first">
                <div class="main-color-in-radios">
                    <input type="file">
                </div>
                <div class="main-color-in-radios">
                    <input type="file">
                </div>
                <div class="main-color-in-radios">
                    <input type="file">
                </div>
            </div>

            <div class="main-color-last">
                <div class="main-color-in-radios">
                    <input type="file">
                </div>
                <div class="main-color-in-radios">
                    <input type="file">
                </div>
                <div class="main-color-in-radios">
                    <input type="file">
                </div>
            </div>

        </div>
    </div>

    <!-- 상세 스펙 -->

    

    <div class="main-content-container">
        <p>상세 스펙</p>
        <div class="main-content-arrow">
            <!-- 제목 -->
            <div class="main-content-right">
                <p>기종 번허</p>
                <p>출시일</p>
                <p>출고가</p>
                <p>기본가격</p>
                <p>기종 화소 밀도</p>
                <p>기종 전면 화소</p>
                <p>전면 화소</p>
                <p>기종 무선충전</p>
                <p>기종 급속 충전</p>
                <p>기종 무게</p>
                <p>배터리 용량</p>
                <p>CPU코드</p>
                <p>RAM코드</p>
                <p>기종 화면 크기</p>
                <p>해상도</p>
            </div>
            <!-- 입력할 값 -->
            <div class="main-content-left">
                <!-- 기종번호 -->
                <input type="text">
                <!-- 출시일 -->
                <input type="text">
                <!-- 출고가 -->
                <input type="text">
                <!-- 기본가격 -->
                <input type="text">
                <!-- 기종 화소 밀도 -->
                <input type="text">
                <!-- 기종 전면 화소 -->
                <input type="text">
                <!-- 전면 화소 -->
                <input type="text">
                <!-- 기종 무선충전 -->
                <input type="text">
                <!-- 기종 급속 충전 -->
                <input type="text">
                <!-- 기종 무게 -->
                <input type="text">
                <!-- 배터리 용량 -->
                <input type="text">
                <!-- CPU코드 -->
                <input type="text">
                <!-- RAM코드 -->
                <input type="text">
                <!-- 기종 화면 크기 -->
                <input type="text">
                <!-- 해상도 -->
                <input type="text">
            </div>
        </div>            
        <button>등록</button>
    </div>





    

</body>
</html>
