<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/adminRegistration.css">
    <title> 매물 등록</title>
</head>

<body>

    <h1>매물 등록</h1>

    <div class="white">
        <h2>상세 스펙</h2>
        <div class="white-in">
            <div class="arrow">
                <!-- 제목 -->
                <div class="right">
                    <p>기종번호</p>
                    <p>등급</p>
                    <p>용량</p>
                    <p>색상</p>
                </div>
                <!-- 스펙 -->
                <div class="left">
                    <!-- 기종번호 입력 -->
                    <input type="text">
                    <!-- 등급 입력 -->
                    <input type="text">
                    <!-- 용량 입력 -->
                    <input type="text">
                    <!-- 색상 입력 -->
                    <input type="text">
                </div>
            </div>
        </div>
        <BUtton>제출하기</BUtton>
    </div>



</body>

</html>