<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/popUp.css">
    <title></title>
</head>

<body>

    <div class="popUpLayer">
        <div class="popUpIn">
            <div class="popUpMagin">
                <div class="popUpTop">
                    <h1>총수량</h1>
                </div>

                <div class="popUpBottom">
                    <table>
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 50%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <tr class="category" id="category-top">
                            <td><a href=""></a></td>
                            <td><a href="">색상▼</a></td>
                            <td><a href="">총수량▼</a></td>
                        </tr>
                        <div class="scroller">
                            <tr class="category" id="category-top">
                                <td><img src="/images/sample_iphone16_blue.png" alt=""></td>
                                <td>코발트 블루</td>
                                <td>287개</td>
                            </tr>

                        </div>

                    </table>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="/js/adminJS/androidPopUpScroller.js"> </script>

</html>