<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/popUp.css">
    <title></title>
</head>

<body>
<!-- popUp-close 클래스 "추가시" 팝업 닫힘 -->
    <div class="popUp-layer popUp-close" >
        <span class="close-btn">
            <i class="fa-solid fa-xmark"></i>
        </span>
        <div class="popUp-in">
            <div class="popUp-magin">
                <div class="popUp-top">
                    <h1>총수량</h1>
                </div>

                <div class="popUp-bottom">
                    <table>
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 50%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <tr class="category" id="category-top ">
                            <td><a href=""></a></td>
                            <td><a href="">색상▼</a></td>
                            <td><a href="">총수량▼</a></td>
                        </tr>
                        <div class="scroller">
                            <tr class="category" id="category-top">
                                <td><img src="/images/sample_iphone16_blue.png" alt=""></td>
                                <td>코발트 블루</td>
                                <td>287개</td>
                            </tr>
                        </div>

                    </table>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="https://kit.fontawesome.com/83d69cfe2d.js" crossorigin="anonymous"></script>
<script src="/js/adminJS/androidPopUpScroller.js"> </script>
<script src="/js/adminJS/popUp.js"> </script>

</html>