<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이폰 16 판매</title>
  <link rel="stylesheet" href="/css/deviceSelling/deviceSelling.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
  
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  
  <main>
    <section class="left-section">
      레프트 섹션
    </section>
    <section class="main-section">
      <div class="device-selling-head">
        <span class="page-title" th:text="${device.deviceName}">
          iPhone 16
        </span>
        <span class="page-title-sub">
          판매하기
        </span>
      </div>

      <div class="device-selling-container">
        <img src="../images/sample_iphone16.jpg" alt="">

        <div class="device-selling-info">

          <div class="info-title">
            <span>색상. </span>
            <span>색상을 선택하세요</span>
          </div>
          <div class="color-content" >

            <div class="color-circle" th:style="|background-color: *{colorCode};|" th:value="*{colorNo}" th:each="color:${device.colorList}" th:object="${color}">
            </div>

          </div>

          <div class="info-title">
            <span>용량. </span>
            <span>용량을 선택하세요</span>
          </div>
          <div class="capacity-content">

            <th:block th:each="capacity:${device.capacityList}" th:object="${capacity}">
              <div class="select-box capacity-box" th:data-value="*{capacityPrice}">
                <span th:text="*{capacityType}">B 등급</span>
                <span th:text="|+ *{#numbers.formatInteger(capacityPrice, 0, 'COMMA')} ₩|">+ 0 ₩</span>
              </div>

            </th:block>

          </div>

          <div class="info-title">
            <span>등급. </span>
            <span>등급을 선택하세요</span>
          </div>
          <div class="grade-content">

            <th:block th:each="grade:${device.gradeList}" th:object="${grade}">
              <div class="select-box grade-box" th:data-value="*{gradeScale}">
                <span th:text="|*{gradeType} 등급|">B 등급</span>
                <span th:text="|+ *{#numbers.formatInteger(gradeScale, 0, 'COMMA')} ₩|">+ 0 ₩</span>
              </div>
  
            </th:block>


          </div>

        </div>
      </div>

      <span class="selling-span1" th:text="|판매하려는 *{device.deviceName} 의 예상 가격|">판매하려는 iPhone 16 의 예상 가격</span>
      <span class="selling-span2" th:text="|${#numbers.formatInteger(device.deviceSellingPrice, 0, 'COMMA')} ₩|">1,234,567 ₩</span>

      <hr>

      <span class="selling-span3">판매 하시겠습니까?</span>
      
      <button class="selling-btn">판매 신청</button>

    </section>
    <section class="right-section">
      라이트 섹션
    </section>
  </main>

  <footer>
    <th:block th:replace="~{common/footer}"></th:block>
  </footer>

  <script src="/js/deviceSelling/deviceSelling.js"></script>
</body>
</html>