<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰 작성 페이지</title>
  <link rel="stylesheet" href="/css/review/reviewWrite.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
  
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  
  <main>
    <section class="left-section">
    </section>
    <section class="main-section" th:object="${orderDevice}">
      <div class="device-nav" th:text="|*{deviceName} > *{colorName} > *{capacityType} > *{gradeType} 등급|"></div>
      <div class="head-info">
        <span>배최성을 이용해 주셔서 감사합니다</span>
        <span th:text="|받아보신 *{deviceName} 는 어떠셨나요?|"></span> 
        <span>사용 후기를 남겨 주세요</span>
      </div> 
      
      <div class="star-container">
        <div class="star-box">
          <div class="star-star">
            <img src="/images/review/empty-star-left.png" alt="0.5점" class="star" data-value="0.5">
            <img src="/images/review/empty-star-right.png" alt="1점"   class="star" data-value="1">
          </div>
          <div class="star-star">
            <img  src="/images/review/empty-star-left.png" alt="1.5점" class="star" data-value="1.5">
            <img src="/images/review/empty-star-right.png" alt="2점"   class="star" data-value="2">
          </div>
          <div class="star-star">
            <img  src="/images/review/empty-star-left.png" alt="2.5점" class="star" data-value="2.5">
            <img src="/images/review/empty-star-right.png"alt="3점"   class="star" data-value="3">
          </div>
          <div class="star-star">
            <img  src="/images/review/empty-star-left.png" alt="3.5점" class="star" data-value="3.5">
            <img src="/images/review/empty-star-right.png"alt="4점"   class="star" data-value="4">
          </div>
          <div class="star-star">
            <img  src="/images/review/empty-star-left.png" alt="4.5점" class="star" data-value="4.5">
            <img src="/images/review/empty-star-right.png"alt="5점"   class="star" data-value="5">
          </div>
        </div>

      </div>

      </div>

      <div class="review-container">

        <div class="review-head">

          <div style="font-size: 48px; font-weight: bold; line-height: 60px;" th:text="${orderDevice.deviceName}"></div>

          <div class="img-box">

            <label for="imgInput">
              <img src="/images/review/camera.png" alt="">
            </label>
            <input type="file" name="imgInput" id="imgInput" accept="image/*" >

          </div>

        </div>

        <textarea name="" id="" placeholder="500자 이내로 리뷰를 작성해 주세요"></textarea>
      </div>


      <div class="insert-btn">등록하기</div>

    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    <th:block th:replace="~{common/footer}"></th:block>
  </footer>

  <script src="/js/review/reviewWrite.js"></script>
</body>
</html>