<!DOCTYPE html>
  <html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main/main.css">
  <title>main</title>
</head>
<body>
    <!-- Header Section -->
     <header>
       <th:block th:replace="~{common/header}"></th:block>

     </header>
  

<!-- main -->
<main>
  <div class="mainPage">
    <div class="slider">
      <div class="slides">
        <div class="slide" style="background-image: url(../images/banner.jpg); height: 1600px;width: 800px;">
          <div class="slideFont1">
            <span class="slideFontSize"></span>
          </div>
        </div>
        <div class="slide" style="background-image: url(../images/banner1.jpg);">
          <div class="slideFont1">
            <span class="slideFontSize"></span>
          </div>
        </div>
        <div class="slide" style="background-image: url(../images/mainImg3.jpg);">
          <div class="slideFont1">
            <span class="slideFontSize"></span>
          </div>
        </div>
        <div class="slide" style="background-image: url(../images/mainImg1.jpg);">
          <div class="slideFont1">
            <span class="slideFontSize"></span>
          </div>
        </div>
      </div>
      <!-- 좌우 화살표 버튼 -->
      <button class="prev" onclick="prevSlide()">&#10094;</button>
      <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
    <!-- 슬라이드 위치를 표시하는 점(dot) -->
    <div class="dots">
      <span class="dot" onclick="currentSlide(0)"></span>
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class="bestView">신상품
      <p class="bestView-2">최상위 S급 중고폰
        <div class="viewImg1"><img src="../images/sample.png" alt=""></div>
        <div class="viewImg"><img src="../images/sample.png" alt=""></div>
        <div class="viewImg"><img src="../images/sample.png" alt=""></div>
        <div class="viewImg"><img src="../images/sample.png" alt=""></div>
      </p>
    </div>

    <div class="subItem-box">
      <div class="subItem-1">
        <div class="subItem-3">
          <span style="font-size: 35px; font-weight: bold;">섬세한 고객 관리</span>
          <span style="margin-top: 30px; font-size: 20px;">30일간의 전액 환불 보증뿐만 아니라,</span>
          <span style="font-size: 20px;">1년 간 제품 보증이 되기 때문에</span>
          <span style="font-size: 20px;">만일의 경우에도 안심하고 구입하실 수 있습니다.</span>
          <span style="margin-top: 35px;"> (보증의 범위에 대한 자세한 내용은 FAQ 에서 확인 하시길 바랍니다)</span>
        </div>
      </div>
      <div class="subItem-2">
        <div class="subItem-4" style="margin-left: 50px;">
          <img src="/images/serviceImg.png" alt="" style="height: 400px;">
        </div>
      </div>
    </div>


    
    <div class="slider2">
      <div class="BLFont-box">
        <span class="BLFont">BCS Best Pick !!</span>
      </div>
        <div class="slides2">
          <div class="slide2"> <div class="pImgs-1"><div><img src="../images/sample_iphone16_blue.png" alt=""></div></div>
            <div class="pImgs-2" style="height: 100px;width: 100px; ;">갤럭시 S24</div>
          </div>
          <div class="slide2"> <div class="pImgs-1"><div><img src="../images/sample_iphone16.jpg" alt=""></div></div>
            <div class="pImgs-2" style="height: 100px;width: 100px; ;">갤럭시 S24</div>
          </div>
          <div class="slide2"> <div class="pImgs-1"><div><img src="../images/sample_iphone16_blue.png" alt=""></div></div>
            <div class="pImgs-2" style="height: 100px;width: 100px; ;">갤럭시 S24</div>
          </div>
          <div class="slide2"> <div class="pImgs-1"><div><img src="../images/sample_iphone16_blue.png" alt=""></div></div>
            <div class="pImgs-2" style="height: 100px;width: 100px; ;">갤럭시 S24</div>
          </div>
          <div class="slide2"> <div class="pImgs-1"><div><img src="../images/sample_iphone16_blue.png" alt=""></div></div>
            <div class="pImgs-2" style="height: 100px;width: 100px; ;">갤럭시 S24</div>
          </div>
          <div class="slide2"> <div class="pImgs-1"><div><img src="../images/sample_iphone16_blue.png" alt=""></div></div>
            <div class="pImgs-2" style="height: 100px;width: 100px; ;">갤럭시 S24</div>
          </div>
      </div>
      <!-- 좌우 화살표 버튼 -->
      <button class="prev2" onclick="prevSlide2()">&#10094;</button>
      <button class="next2" onclick="nextSlide2()">&#10095;</button>
    </div>

    <div class="mainPageFoot">
      <div class="mainFoot">
        <div class="a1">
          <h1>배최성에 대하여</h1>
          <pre>

    글로벌 중고 플랫폼 1위 목표
    리퍼비시 전자기기 전문 마켓 플레이
          </pre>
          
        </div>
        <div class="a2">
          <h1 style="margin-left: 60px;">고품질 리퍼비시 제품</h1>
          <pre>
            
    지구에도 지갑에도 좋은 리퍼 제품
    절대 안전 제품 품질 보증
          </pre>
        </div>
        <div class="a3">
          <h1 style="margin-left: 40px;">국내 최고 매입가</h1>
          <pre>
            
    중간 수수료 없이
    소중한 제품 금액가 그대로
          </pre>
        </div>
      </div>
      <div class="mainFoot2"><img src="../images/mainPage2.png" alt="" style="width: 845px;height: 510px;"></div>
    </div>
  </div>
</main>

<!-- Footer Section -->
<th:block th:replace="~{common/footer}"></th:block>
<script src="/js/main/slide.js"></script>
</body>
</html>