<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase History</title>
    <link rel="stylesheet" href="/css/myPage/signUp.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body class="orderHistoryBody">
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">

    <div class="container">
        <h2>내폰 판매내역</h2>
 

        <table>
            <thead>
                <tr>
                    <th>해당 기종 정보</th>
                    <th>주문일자</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>아이폰 4s 황금색 S급 8GB</td>
                    <td>24년11월22일</td>
                    <td>판매신청/검수중/송금/반려</td>
                </tr>
          
                <!-- Add more rows as needed -->
            </tbody>
        </table>
        <div class="pagination" id="paginationBox">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
    </div>

  </section>
  <section class="right-section">
  </section>
</main>



<script th:inline="javascript">
    const loginNo = /*[[${session.loginMember.memberNo}]]*/ false;
</script>


<footer>
    <th:block th:replace="~{common/footer}"></th:block>
</footer>
</body>
<script src="/js/myPage/myPage.js"></script>
</html>