<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase History</title>
    <link rel="stylesheet" href="/css/myPage/signUp.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="orderHistoryBody">
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">

    <div class="container">
        <h2>내 폰 구매내역</h2>

            <table id="buyingTable">
                <thead>
                    <tr>
                        <th>기종 정보</th>
                        <th>구매 일자</th>
                        <th>구매 상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>아이폰5s</td>
                        <td>24.11.26</td>
                        <td>배송중</td>
                    </tr>
    
                    <tr>
                        <td>폴드35</td>
                        <td>24.11.26</td>
                        <td>배송준비중</td>
                    </tr>
                    <tr>
                        <td>베가레이서</td>
                        <td>24.11.26</td>
                        <td>배송안됨</td>
                    </tr>
                    
                    
                    <!-- Add more rows as needed -->
                </tbody>
            </table>

        <div class="backDiv">
            <div id="backBtn">뒤로<i class="fa-solid fa-rotate-right"></i></div>
        </div>


        <div class="pagination" id="paginationBuyingBox">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
    </div>

  </section>
  <section class="right-section">
  </section>
</main>

<script th:inline="javascript">
    const loginNo = /*[[${session.loginMember.memberNo}]]*/ false;
    console.log(loginNo);
  </script>

<footer>
    <th:block th:replace="~{common/footer}"></th:block>
</footer>
</body>
<script src="/js/myPage/myPageSalesHistory.js"></script>
</html>