<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/myPage/signUp.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
</head>

<body>

  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  <main>
    <section class="left-section">
    </section>

    <section class="main-section">



      <!-- Main Content -->
      <main class="main-content">
        <h1 class="title"><i class="icon"></i> 마이페이지</h1>
      </main>

      <!-- Icons Section -->
      <div class="icon-grid">
         
            <div class="icon-item">
            <a href="myPageUpdate">
              <img src="/images/myPage/phone-icon.png" alt="내정보 수정">
            </a>
            <span>내정보 수정</span>
          </div>
       

       
          <div class="icon-item">
          <a href="myPageOrderHistory">
            <img src="/images/myPage/transaction-history.png" alt="거래내역">
          </a>
          <span>거래내역</span>
        </div>

        <div class="icon-item">
          <a href="myPageSalesHistory"><img src="/images/myPage/purchase-history.png" alt="구매내역"></a>
          <span>구매내역</span>
        </div>

        <div class="icon-item chat1vs1">
          <img src="/images/myPage/inquiry.png" alt="1대1 문의">
          <span>1대1 문의</span>
        </div>

        <div class="icon-item">
          <a href="myPagePointHistory"><img src="/images/myPage/points.png" alt="포인트 사용 내역"></a>
          <span>포인트 사용 내역</span>
        </div>

      </div>

    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    <th:block th:replace="~{common/footer}"></th:block>
  </footer>

</body>
<script src="/js/myPage/myPage.js"></script>

</html>