<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/myPage/signUp.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
  
  <header>
    <div style="display: flex; align-items: center; 
    justify-content: center; background-color: white; 
    height: 80px; font-size: 20px;">
      <a href="/"><img src="/images/logo.png" alt=""></a>
      <div style="margin-left: 70px; margin-right: 9%;
                  font-weight: bold;">BCS ACCOUNT | 배최성 계정관리</div>
    </div>
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">
      
      

   <div class="decalcomanie" style="display: flex;">
      <div  class="mypageUpdate-box"> <!-- 개인정보수정 박스 -->
          <div class="mypageUpdate-title">내정보 수정 - 비밀번호 변경</div><br>
  
          <form action="passwordChange" method="POST" name="pwChangeForm" class="pwChangeForm">
            <div class="update-group-1">
                <label for="passwordUpdate">비밀번호수정</label>
                <input type="password" id="currentPw" name="currentPw" placeholder="현재 비밀번호를 입력해주세요.">
            </div>
            
            <div class="update-group-1">
              <label for="newPassword">새 비밀번호</label>
              <input type="password" id="newPw" name="newPw" placeholder="변경하시는 비밀번호를 입력해주세요.">
            </div>
            <span class="signUp-message" id="pwMessage">영어, 숫자, 특수문자 1글자 이상 6~20글자 사이로 입력해주세요.</span>
  
            <div class="update-group-1">
                <label for="newPassword">새 비밀번호확인</label>
                <input type="password" id="newPwConfirm" name="newPwConfirm" placeholder="변경하시는 비밀번호를 확인해주세요.">
            </div>
            <div class="btn-container">
              <button type="submit" class="signup-button-update">회원정보 수정</button>
              <button type="button" class="signup-button-delete">취소</button>
            </div>
        </form>
          
        <!-- 똑같은 녀석 하나더 복사 -->
      </div>
      
            <div  class="mypageUpdate-box2" style="margin-left: 60px;"> <!-- 개인정보수정 박스 -->
                <div class="mypageUpdate-title">내정보 수정 - 주소 변경</div><br>
        
                <form action="addressChange" method="POST" name="pwChangeForm"  class="pwChangeForm" id="addressChangeFrm">
                  <div class="update-group2">
                      <label for="addressChange">주소</label>
                      <input type="text" class="address-input" id="postcode" name="address" placeholder="우편번호">
                      <button type="button" class="btn-address" id="findAddressBtn">검색</button>
                      <input type="text" class="address-input" id="address" name="address" placeholder="도로명 / 지번주소" >
                      <input type="text" class="address-input" id="detailAddress" name="address" placeholder="상세 주소">
                  </div>
        
                  <div class="btn-container2">
                    <button type="submit" class="signup-button-updateApi">회원정보 수정</button>
                    <button type="button" class="signup-button-delete">취소</button>
                  </div>
              </form>
            </div>
      <!-- 전화번호 -->
            <div  class="mypageUpdate-box3" style="margin-left: 60px;"> <!-- 개인정보수정 박스 -->
                <div class="mypageUpdate-title">내정보 수정 - 번호 변경</div><br>
        
                <form action="numberChange" method="POST" name="telChangeForm" class="pwChangeForm">
      
                  <div class="update-group3">
                      <label for="addressChange">전화번호</label>
                      <input type="number" id="number" name="phoneNumber" maxlength="11" placeholder="전화번호입력" th:value="${session.loginMember.memberTel}">
                    </div>
                    <span class="signUp-message1" id="telMessage">전화번호를 입력해주세요.(- 제외)</span>

                  <div class="btn-container3">
                    <button type="submit" class="signup-button-update1" style="font-size: 14px;">회원정보 수정</button>
                    <button type="button" class="signup-button-delete">취소</button>
                  </div>
                  <a href="withdrawal" style="text-decoration-line: none; color: #333;"><div class="withDraw">회원 탈퇴하기</div></a>
              </form>
            </div>
      


   </div>


    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    <th:block th:replace="~{common/footer}"></th:block>
  </footer>

</body>

<script th:inline="javascript">
  const loginMember = /*[[${session.loginMember}]]*/ "회원정보";
</script>


<script src="/js/myPage/myPage.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>