<th:block th:if="${cpCount}">
  <input type="hidden" class="getCpCount" th:value="${cpCount}">

  <button class="pn-1"><img style=" width: 20px; height: 20px;" src="/images/rlxk/왼왼왼.png"></button>
  <button class="pn-2"><img style=" width: 20px; height: 20px;" src="/images/rlxk/왼.png"></button>

  <div class="pnNumber">
    <th:block th:each="pn:${pnList}">

      <button class="pnBtn">
        <p class="pnValue" th:text="${pn}"></p>
      </button>

    </th:block>

  </div>

  <th:block th:if="${lastIndex == 0}">
    <button>
      <p>...</p>
    </button>
    <button class="pn-5">
      <p th:text="${cpCount}"></p>
    </button>
  </th:block>

  <button class="pn-3"><img style=" width: 20px; height: 20px;" src="/images/rlxk/오른.png"></button>
  <button class="pn-4"><img style=" width: 20px; height: 20px;" src="/images/rlxk/오른오른오른.png"></button>
</th:block>
<th:block th:unless="${cpCount}">

<button class="pn-1"><img style=" width: 20px; height: 20px;" src="/images/rlxk/왼왼왼.png"></button>
<button class="pn-2"><img style=" width: 20px; height: 20px;" src="/images/rlxk/왼.png"></button>

  <button>
    <p>0</p>
  </button>

  <button class="pn-3"><img style=" width: 20px; height: 20px;" src="/images/rlxk/오른.png"></button>
  <button class="pn-4"><img style=" width: 20px; height: 20px;" src="/images/rlxk/오른오른오른.png"></button>
    </div>
</th:block>