<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.bcs.admin.mapper.AdminMapper">

	<select id="memberNoCount">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_NO = #{searchText}
	</select>
	
	<select id="memberNameCount">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_NAME LIKE '%' || #{searchText} || '%'
	</select>
	
	<select id="memberEmailCount">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_EMAIL LIKE '%' || #{searchText} || '%'
	</select>
	
	<select id="memberTelCount">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_TEL LIKE '%' || #{searchText} || '%'
	</select>
	
	<select id="allCount">
		SELECT COUNT(*)
		FROM MEMBER
	</select>
	
	
	
	
	
	<select id="memberNoList" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_NO = #{searchText}
	</select>
	
	<select id="memberNameListU" resultType="Member">
SELECT E.*
FROM
	(SELECT 
		MEMBER_NO,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_DEL_FL,
		MEMBER_DATE,
		MEMBER_ADDRESS,
		MEMBER_FL,
		MEMBER_POINT,
		MEMBER_TEL,
		MEMBER_ID,
		ROWNUM "RN"
	FROM "MEMBER"
	WHERE (MEMBER_NAME LIKE '%' || #{searchText} || '%')
	ORDER BY MEMBER_NAME ASC) E
WHERE E.RN BETWEEN 1 + ((#{cp}-1)*10)AND 10 + ((#{cp}-1)*10)
	</select>
	<select id="memberNameListD" resultType="Member">
SELECT E.*
FROM
	(SELECT 
		MEMBER_NO,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_DEL_FL,
		MEMBER_DATE,
		MEMBER_ADDRESS,
		MEMBER_FL,
		MEMBER_POINT,
		MEMBER_TEL,
		MEMBER_ID,
		ROWNUM "RN"
	FROM "MEMBER"
	WHERE (MEMBER_NAME LIKE '%' || #{searchText} || '%')
	ORDER BY MEMBER_NAME DESC) E
WHERE E.RN BETWEEN 1 + ((#{cp}-1)*10)AND 10 + ((#{cp}-1)*10)
	</select>
	
	<select id="memberEmailListU" resultType="Member">
SELECT E.*
FROM
	(SELECT 
		MEMBER_NO,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_DEL_FL,
		MEMBER_DATE,
		MEMBER_ADDRESS,
		MEMBER_FL,
		MEMBER_POINT,
		MEMBER_TEL,
		MEMBER_ID,
		ROWNUM "RN"
	FROM "MEMBER"
	WHERE MEMBER_EMAIL LIKE '%' || #{searchText} || '%'
	ORDER BY MEMBER_EMAIL ASC) E
WHERE E.RN BETWEEN 1 + ((#{cp}-1)*10)AND 10 + ((#{cp}-1)*10)
	</select>
	<select id="memberEmailListD" resultType="Member">
SELECT E.*
FROM
	(SELECT 
		MEMBER_NO,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_DEL_FL,
		MEMBER_DATE,
		MEMBER_ADDRESS,
		MEMBER_FL,
		MEMBER_POINT,
		MEMBER_TEL,
		MEMBER_ID,
		ROWNUM "RN"
	FROM "MEMBER"
	WHERE MEMBER_EMAIL LIKE '%' || #{searchText} || '%'
ORDER BY MEMBER_EMAIL DESC) E
WHERE E.RN BETWEEN 1 + ((#{cp}-1)*10)AND 10 + ((#{cp}-1)*10)
	</select>
	
	<select id="memberTelListU" resultType="Member">
SELECT E.*
FROM
	(SELECT 
		MEMBER_NO,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_DEL_FL,
		MEMBER_DATE,
		MEMBER_ADDRESS,
		MEMBER_FL,
		MEMBER_POINT,
		MEMBER_TEL,
		MEMBER_ID,
		ROWNUM "RN"
	FROM "MEMBER"
	WHERE MEMBER_TEL LIKE '%' || #{searchText} || '%'
	ORDER BY MEMBER_TEL ASC) E
WHERE E.RN BETWEEN 1 + ((#{cp}-1)*10)AND 10 + ((#{cp}-1)*10)
	</select>
	<select id="memberTelListD" resultType="Member">
SELECT E.*
FROM
	(SELECT 
		MEMBER_NO,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_DEL_FL,
		MEMBER_DATE,
		MEMBER_ADDRESS,
		MEMBER_FL,
		MEMBER_POINT,
		MEMBER_TEL,
		MEMBER_ID,
		ROWNUM "RN"
	FROM "MEMBER"
	WHERE MEMBER_TEL LIKE '%' || #{searchText} || '%'
ORDER BY MEMBER_TEL DESC) E
WHERE E.RN BETWEEN 1 + ((#{cp}-1)*10)AND 10 + ((#{cp}-1)*10)
	</select>
	
	<select id="allListU" resultType="Member">
SELECT E.*
FROM
	(SELECT 
		MEMBER_NO,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_DEL_FL,
		MEMBER_DATE,
		MEMBER_ADDRESS,
		MEMBER_FL,
		MEMBER_POINT,
		MEMBER_TEL,
		MEMBER_ID,
		ROWNUM "RN"
	FROM "MEMBER"
	ORDER BY MEMBER_NO DESC) E
WHERE E.RN BETWEEN 1 + ((#{cp}-1)*10) AND 10 + ((#{cp}-1)*10)
	</select>
	<select id="allListD" resultType="Member">
SELECT E.*
FROM
	(SELECT 
		MEMBER_NO,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_DEL_FL,
		MEMBER_DATE,
		MEMBER_ADDRESS,
		MEMBER_FL,
		MEMBER_POINT,
		MEMBER_TEL,
		MEMBER_ID,
		ROWNUM "RN"
	FROM "MEMBER"
	ORDER BY MEMBER_NO ASC) E
WHERE E.RN BETWEEN 1 + ((#{cp}-1)*10) AND 10 + ((#{cp}-1)*10)
	</select>
	
	
	
	
	
	
	
	
	
	
</mapper>
