<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.bcs.myPage.mapper.MyPageMapper">
  	
  	<!-- [TIP]
  	  parameterType 속성은 필수가 아니다!!!
  	  Mybatis TypeHandler가 파라미터의 타입을 알아서 판별할 수 있다.
  	  --> 
  	 
  	
  	<select id="login">
  			SELECT
  				MEMBER_NO,
  				MEMBER_NAME,
  				MEMBER_EMAIL,
  				MEMBER_PW,
  				MEMBER_DEL_FL,
  				MEMBER_DATE,
  				MEMBER_ADDRESS,
  				MEMBER_FL,
  				MEMBER_POINT,
  				MEMBER_TEL,
  				MEMBER_ID
  			FROM "MEMBER"
  			WHERE MEMBER_ID = #{memberId}
  			AND   MEMBER_DEL_FL = 'N'
  	</select>
  	
  	<select id="findId">
  		SELECT
  			MEMBER_ID
  		FROM
  			"MEMBER"
  		WHERE
  			MEMBER_EMAIL = #{memberEmail}
  	</select>
  	
  	<!-- 일치하는 아이디가 1개인지 0개인지 -->
  	<select id="findIdReal">
  		SELECT COUNT(*)
  		FROM
  			"MEMBER"
  		WHERE
  			MEMBER_EMAIL = #{email}
  		AND
  			MEMBER_NAME = #{name}
  	
  	</select>
  	
  	<!-- 비번찾기 -->
  	  	<select id="findPw">
  		SELECT MEMBER_EMAIL
  		FROM
  			"MEMBER"
  		WHERE
  			MEMBER_ID = #{id}
  		AND
  			MEMBER_NAME = #{name}
  	
  	</select>
  	
  	<!-- 비번찾기 이메일 불러오기 -->
  	<select id="checkAuthKey2">
  		SELECT MEMBER_EMAIL
  		FROM
  			"MEMBER"
  		WHERE
  			MEMBER_ID = #{id}
  	
  	
  	</select>
  	
  	<!-- 임시비번찾기 이멜 불러오기 -->
  	<!--  -->
  	<select id="sendAuthKey3">
  	  		SELECT MEMBER_EMAIL
  		FROM
  			"MEMBER"
  		WHERE
  			MEMBER_ID = #{id}
  	</select>
  	
  	<!-- 이메일을 통한 회원넘버 조회 -->
  		<select id="findMemberNoByEmail">
		SELECT MEMBER_NO
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{email}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
		<update id="updatePassword">
		UPDATE "MEMBER"
		SET MEMBER_PW = #{encPw} 
		WHERE MEMBER_NO = #{memberNo}
		AND MEMBER_DEL_FL = 'N'
	</update>

  	
</mapper>
