<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.bcs.sse.mapper.SseMapper">

	<select id="searchNewList">
		SELECT COUNT(*)
		FROM CHATTING_MESSAGE
		WHERE CHATTING_MESSAGE_READ_FL = 'N'
		AND RECEIVER_NO = #{memberNo}		
	</select>

	
</mapper>
