<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>포인트 충전</title>
  <link rel="stylesheet" href="/css/pointCharge/pointCharge.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
  
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  <main>
    <section class="left-section">
      레프트 섹션
    </section>
    <section class="main-section">
      <div class="point-charge-head">
        <div class="page-title">
          포인트 충전하기
        </div>
        <div class="balance-point">
          잔액 100,000 P
        </div>
        <hr>
      </div>
      <div class="point-charge-main-container">
        <div class="charge-box" id="chargeBox1">
          <span class="point-check">샘플 P 충전</span>
          <span class="money-check">100 ₩</span>
        </div>

        <div class="charge-box" id="chargeBox2">
          <span class="point-check">30,000 P 충전</span>
          <span class="money-check">30,000 ₩</span>
        </div>

        <div class="charge-box" id="chargeBox3">
          <span class="point-check">50,000 P 충전</span>
          <span class="money-check">50,000 ₩</span>
        </div>

        <div class="charge-box" id="chargeBox4">
          <span class="point-check">100,000 P 충전</span>
          <span class="money-check">100,000 ₩</span>
        </div>

        <div class="charge-box" id="chargeBox5">
          <span class="point-check">200,000 P 충전</span>
          <span class="money-check">200,000 ₩</span>
        </div>

        <div class="charge-box" id="chargeBox6">
          <span class="point-check">300,000 P 충전</span>
          <span class="money-check">300,000 ₩</span>
        </div>

      </div>
    </section>
    <section class="right-section">
      라이트 섹션
    </section>
  </main>
  <footer>
    <th:block th:replace="~{common/footer}"></th:block>
  </footer>

  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script src="/js/pointCharge/pointCharge.js"></script>
</body>
</html>