<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>포인트 충전 완료</title>
  <link rel="stylesheet" href="/css/pointCharge/pointChargeCompl.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
  
  <header>
    헤더
  </header>
  <main>
    <section class="left-section">
      레프트 섹션
    </section>
    <section class="main-section">
      <div class="point-charge-compl-head">
        <div class="page-title">
          배.최.성을 이용해 주셔서 감사합니다
        </div>

        <div class="image-box">
          <img src="/images/logo_big_default.png" alt="" class="logo-image">
        </div>
      </div>

      <div class="payment-container">
        <span class="payment-container-title">
          결제 정보
        </span>
        
        <div class="point-box">
          <span>
            기존 포인트
          </span>
          <span data-th-text="${#numbers.formatInteger(beforeChangePoints, 0, 'COMMA') + ' P'}">
            충전 전 포인트 100,000 P
          </span>
        </div>

        <div class="point-box">
          <span>
            충전 포인트 
          </span>
          <span data-th-text="${#numbers.formatInteger(amount, 0, 'COMMA') + ' P'}">
            충전 포인트 + 100,000 P
          </span>
        </div>

        <hr>
        <div class="point-box">
          <span>
            현재 포인트
          </span>
          <span data-th-text="${#numbers.formatInteger(currentPoint, 0, 'COMMA') + ' P'}">현재 포인트 100,000 P</span>
        </div>
      </div>

      <button class="check-btn">확인</button>

    </section>
    <section class="right-section">
      라이트 섹션
    </section>
  </main>
  <footer>
    푸터
  </footer>


  <script src="/js/pointCharge/pointChargeCompl.js"></script>
</body>
</html>