<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeviceList</title>
  <link rel="stylesheet" href="css/deviceList/deviceList.css">
</head>
<body>
  <!-- Header Section -->
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  
  <main>
    <div class="deviceList-container">
      <div class="deviceList-header-section">
        <div class="deviceList-header-1">
          <div class="deviceList-galaxy underline-animation" id="galaxyFilter" data-brand="SAMSUNG"><span>Galaxy</span></div>
        </div>
        <div class="deviceList-header-2">
          <div class="deviceList-galaxy underline-animation" id="galaxyTabFilter" data-brand="SAMSUNGTAB"><span>Galaxy Tab</span></div>
        </div>
        <div class="deviceList-header-3">
          <div class="deviceList-iPhone underline-animation" id="iPhoneFilter" data-brand="Apple"><span>iPhone</span></div>
        </div>
        <div class="deviceList-header-4">
          <div class="deviceList-iPhone underline-animation" id="iPadFilter" data-brand="AppleTab"><span>iPad</span></div>
        </div>
      </div>

      <div class="filter-container">
        <div class="filter-section">
          <div class="filter-items" id="ram-filter">램(RAM)</div>|
          <div class="filter-items" id="hdd-filter">용량(HDD)</div>|
          <div class="filter-items" id="inch-filter">화면 크기</div>
        </div>
      </div>

      <div class="filter-check-container">
        <div class="item-check" id="filter-item"></div>
      </div>

      <div class="search-container">
        <div class="search-filter"></div>
        <div class="search-Btn" id="searchBtn"> 검색하기 </div>
      </div>
      

      <div class="deviceList-items-container">

        <th:block th:each="device:${searchResults}" th:object="${device}">
          <div class="deviceList-item-box">
            <a th:href="|@{device/buy/}*{deviceNo}|">
              <div class="deviceList-item-section">
                <img th:src="*{deviceImg}" th:alt="*{deviceName}">
                <div style="margin-top: 15px" th:text="*{deviceName}"></div>
                <div 
                th:text="|*{#numbers.formatInteger(deviceBuyingPrice, 0, 'COMMA')}원|"></div>
              </div>
            </a>
          </div>
        </th:block>



      </div>


    </div>

    

  <!-- 최근 본 목록 -->
  <div class="recent-list-container">
    <img class="recent-img" src="/images/buyingDevice/recentDevice.png" alt="">
    <span>최근 본 상품</span>

    <th:block th:if= "${recentDeviceList}" th:each= "recentDevice:${recentDeviceList}" th:object="${recentDevice}">

      <div class="recent-box">
        <a th:href="|@{/device/buy/}*{deviceNo}|">
          <div>
            <img th:src="*{deviceImg}" alt="">
            <span th:text="*{deviceName}"></span>
          </div>
        </a>
      </div>
    </th:block>
  </div>





    <script src="/js/deviceList/deviceList.js"></script>


  </main>
  <!-- Footer Section -->
<th:block th:replace="~{common/footer}"></th:block>
</body>
</html>