<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeviceSellList</title>
  <link rel="stylesheet" href="css/deviceList/deviceSellList.css">
</head>
<body>
  <!-- Header Section -->
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  
  <main>
    <div class="deviceList-container">
      <div class="deviceList-header-section">
        <div class="deviceList-header-1">
          <div class="deviceList-galaxy underline-animation" id="galaxyFilter" data-brand="SAMSUNG"><span>Galaxy</span></div>
        </div>
        <div class="deviceList-header-2">
          <div class="deviceList-galaxy underline-animation" id="galaxyTabFilter" data-brand="SAMSUNGTAB"><span>Galaxy Tab</span></div>
        </div>
        <div class="deviceList-header-3">
          <div class="deviceList-iPhone underline-animation" id="iPhoneFilter" data-brand="Apple"><span>iPhone</span></div>
        </div>
        <div class="deviceList-header-4">
          <div class="deviceList-iPhone underline-animation" id="iPadFilter" data-brand="AppleTab"><span>iPad</span></div>
        </div>
      </div>

      <div class="filter-container">
        <div class="filter-section">
          <div class="filter-items" id="ram-filter"></div>
          <div class="filter-items" id="hdd-filter"></div>
          <div class="filter-items" id="inch-filter"></div>
        </div>
      </div>


      <div class="search-container">
        <div class="search-filter"></div>
        <div class="search-Btn" id="searchBtn"></div>
      </div>
      

      <div class="deviceList-items-container">

        <th:block th:each="device:${searchResults}" th:object="${device}">
          <div class="deviceList-item-box">
            <a th:href="|@{device/sell/}*{deviceNo}|">
              <div class="deviceList-item-section">
                <img th:src="*{deviceImg}" th:alt="*{deviceName}">
                <div style="margin-top: 15px" th:text="*{deviceName}"></div>
                <div 
                th:text="|*{#numbers.formatInteger(deviceBuyingPrice, 0, 'COMMA')}원|"></div>
              </div>
            </a>
          </div>
        </th:block>



      </div>


    </div>

    
    







    <script src="/js/deviceList/deviceSellList.js"></script>


  </main>
  <!-- Footer Section -->
<th:block th:replace="~{common/footer}"></th:block>
</body>
</html>