*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

main{
  margin-top: 130px;
  flex-direction: column;
}

.page-info{
  width: 100vh;
}



.helpView{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 영역 감싸는 컨테이너 */
.help-container{
  width: 900px;
}

/* 아이콘 있는 영역 */
.button-area{
  width: 900px;
  /* height: 150px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.iconText{
  margin-top: 10px;
}

/* 아이콘과 버튼 감싸는 박스 */
.helpIconBox{
  /* width: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------------- */
/* FAQ 영역 */
/* FAQ 내용 리스트 출력 */
.faq-list-area{
  width: 900px;
  margin-top: 15;
}

.faq{
  display: flex;
  width: 900px;
  height: 34px;
  align-items: center;
  margin: 10px 10px;
}

.faq > span:first-child{
  width: 50px;
  text-align: center;
}

.faq > span:nth-child(2){
  display: flex;
  width: 800px;
  align-items: center;
}

.faq > span:last-child{
  width: 50px;
  text-align: center;
}

/* FAQ 답변 */
.faq-open{
  background-color: #e7e7e7;
  padding: 20px;
}


/* 그외문의 영역 */
.more-help-area{
  width: 800px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.more-help-area > span{
  padding: 10px;
  color: rgb(129, 129, 129);
}

.more-help-area > span:first-child{
  margin-left: 30px;
}

span {
  display: inline-block;
}

.faq > span:first-child{
  width: 20px;
}

.faq > span:nth-child(2){
  margin-left: 20px;
}

.faq{
  cursor: zoom-in;
}


/* ------------------------- */
/* 공지사항 영역 */

@keyframes show {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes hide {
  from {opacity: 1;}
  to {opacity: 0;}
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  z-index: 50;

  background-color: rgba(143, 143, 143, 0.4);
}

.modal.show {
  display: flex;
  animation-name: show;
  animation-duration: 0.5s;
  z-index: 500;
}

.modal.hide{
  animation-name: hide;
  animation-duration: 0.5s;
}


#modalImage {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.list-wrapper{
  min-height: 670px;
  width: 100%;
}

.list-table{
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}

.list-table > thead{ 
  color: rgb(43, 43, 43);
  margin-top: 10px;
  height: 20px;
  text-align: center;
  align-items: center;
}

.list-table tr{
  height: 60px;
}

.list-table > tbody > tr:first-child{
  border-top: 1px solid gray;
}

.list-table > tbody > tr:last-child{
  border-bottom: 1px solid gray;
}


.list-table tr > *{ text-align: center; }
.list-table tr > *:nth-of-type(1){ width: 10%; }

.list-table tr > td:nth-of-type(2){
   width: 50%; 
   text-align: left;
   padding-left: 50px;
   text-decoration: none;
}

.table-subject {
  text-align: center;
}

.list-table tr > *:nth-of-type(3){ width: 13%; }
.list-table tr > *:nth-of-type(4){ width: 10%; }
.list-table tr > *:nth-of-type(5){ width: 8%; }
.list-table tr > *:nth-of-type(6){ width: 8%; }

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination li{
  width: 20px;
  margin: 0 5px;
  text-align: center;
}

.pagination a{
  display: block;
  width: 100%;
  height: 100%;
}

.current{
  background-color: #1d1d1f;
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}

