@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}


.footer1{
  background-color: #e2e1e1;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  height: 200px;
  width: 100%;
}

.col1, .col3{
  height: 80px;
}

.col1{
  height: 80px;
  width: 20vw;
}

.col2{
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100vw;
}



.footer2{
  display: flex;
  justify-content: space-between;
  height: 50px;

}
.footer3{
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;

}

.footer3 a{
  margin-right: 30px;
  color: #b8b8b8;
  text-decoration: none;
}



