@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}

html, body, main {
  background-color: var(--main-gray-color);

  margin: 0 auto;

  color: var(--font-color);
}

main {

  padding-top: 80px;
}

.left-section, .main-section, .right-section {
  margin-top: 80px;
}


header {
  background-color: var(--main-gray-color);
}


/* 메인 헤더 */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around; /* 요소들을 가운데 정렬 */
  padding: 20px 40px; /* 좌우 여백을 약간 넓게 설정 */
  gap: 20px; /* 내부 요소 간 간격 조절 */
  font-size: 20px;
}

header{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000; 
  opacity: 0.98;
  height: 80px;
} 

img{
  display: flex;
  align-items: center;
}

/* 네비게이션 링크 */
.header-nav {
  display: flex;
  align-items: center;
  gap: 20px; /* 링크 간 간격 조절 */
}

.header-nav a {
  color: #6e6e73;
  text-decoration: none;
}

/* 로고 */
.header-nav img {
  margin-right: 10px;
  height: 40px; /* 필요한 경우 높이 조정 */
}

/* 인증 섹션 */
.header-auth {
  display: flex;
  align-items: center;
  gap: 10px; /* 입력 필드와 링크 간 간격 조절 */
}

.search-container-1{
  position: relative;
  display: inline-block;
  width: fit-content;
}

.header-auth input {
  padding-right: 40px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid rgb(155, 151, 151);
  width: 250px;
  text-indent: 10px;
}

.search-input::placeholder{
  text-align: left;
  text-indent: 10px;
  
}

#searchB{
  position: absolute;
  top: 50%; /* input의 수직 중앙에 위치 */
  right: 10px; /* input 오른쪽 끝에서 약간 떨어짐 */
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}



.header-auth a {
  color: #1D1D1F;
  text-decoration: none;
}


/* ------------------------------------------------------------------------ */
/* 드롭다운 메뉴 스타일 */
.header-nav .dep1 {
  position: relative;
  z-index: 1000; /* 드롭다운이 오버레이 위에 표시되도록 */
}

.header-nav .dep1 > a {
  padding: 10px;
  cursor: pointer;
}
.header-nav .dep2 {
  position: relative;
  z-index: 1000; /* 드롭다운이 오버레이 위에 표시되도록 */
}

.header-nav .dep2 > a {
  padding: 10px;
  cursor: pointer;
}

/* 드롭다운 스타일 */
.header-nav .dep1 .dropdown {
  display: none;
  position: fixed; /* 화면 전체 기준으로 위치 설정 */
  top: 60px; /* "쇼핑하기" 아래로 메뉴를 띄우기 위해 적절한 값으로 설정 */
  left: 0; /* 화면의 왼쪽 끝에 맞춤 */
  right: 0; /* 화면의 오른쪽 끝에 맞춤 */
  background-color: white;
  border-radius: 0; /* 좌우 여백을 꽉 채우기 위해 경계선 둥글기 제거 */
  z-index: 1000;
  font-size: 43px;
  padding: 10px 0; /* 드롭다운 메뉴 아이템의 상하 여백 추가 */
  height: 430px;
}

.header-nav .dep1 .dropdown li {
  display: block;
  padding: 10px;
  margin-left: 100px;
}

.header-nav .dep1 .dropdown li a {
  color: #1D1D1F;
  text-decoration: none;
  white-space: nowrap;
}

/* hover 시 드롭다운 표시 */
.header-nav .dep1:hover .dropdown,
.header-nav .dep1:hover ~ .overlay,
.header-nav .dep1 .dropdown:hover {
  display: block;
}

.header-nav .dep1:hover ~ .overlay,
.header-nav .dep1 .dropdown:hover ~ .overlay {
  display: block;
}

.dropdownContainor{
  margin-top: 20px;
}



/* 드롭다운 스타일 */
.header-nav .dep2 .dropdown {
  display: none;
  position: fixed; /* 화면 전체 기준으로 위치 설정 */
  top: 60px; /* "쇼핑하기" 아래로 메뉴를 띄우기 위해 적절한 값으로 설정 */
  left: 0; /* 화면의 왼쪽 끝에 맞춤 */
  right: 0; /* 화면의 오른쪽 끝에 맞춤 */
  background-color: white;
  border-radius: 0; /* 좌우 여백을 꽉 채우기 위해 경계선 둥글기 제거 */
  z-index: 1000;
  font-size: 43px;
  padding: 10px 0; /* 드롭다운 메뉴 아이템의 상하 여백 추가 */
  height: 430px;
}

.header-nav .dep2 .dropdown li {
  display: block;
  padding: 10px;
  margin-left: 100px;
}

.header-nav .dep2 .dropdown li a {
  color: #1D1D1F;
  text-decoration: none;
  white-space: nowrap;
}

/* hover 시 드롭다운 표시 */
.header-nav .dep2:hover .dropdown,
.header-nav .dep2:hover ~ .overlay,
.header-nav .dep2 .dropdown:hover {
  display: block;
}

.header-nav .dep2:hover ~ .overlay,
.header-nav .dep2 .dropdown:hover ~ .overlay {
  display: block;
}

.dropdownContainor{
  margin-top: 20px;
}
/* ------------------------------------------------------------------------ */

:root{
  --main-color : rgba(0, 255, 156, 1);        /* 사이트 대표 컬러 */
  --main-gray-color : rgba(240, 240, 240, 1); /* 어두운 페이지 배경색 */
  --white-color : white;                      /* 흰색 */

  --font-color : rgba(29, 29, 31, 1);         /* 글자색 */
  --font-gray-color : rgba(110, 110, 115, 1); /* 글자 옅은 회색 */
}


main{
  display: flex;

}

.left-section, .right-section{
  width: 20%;
}

.main-section {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideMenuContainer{
  width: 60%;
  margin-left: 100px;
  margin-top: 20px;
}

.dropdownContainor{
  display: flex;
  flex-direction: row;
}



/* 밑줄 표시를 위한 active 클래스 추가 */
#galaxy-content li.active {
  text-decoration: underline; /* 밑줄 표시 */
  font-weight: bold; /* 클릭된 항목을 강조하기 위해 굵게 표시 */
}

#buy_phoneModels{
  font-size: 20px;
  cursor: pointer;
}

.phoneModels-box{
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 1.5vh;
  width: 1200px;
}

#selectionMessage{
  font-size: 25px;
}

.plusItem{
  border: 1px solid black; 
  width: 750px; 
  height: 35px; 
  text-align: center; 
  margin-top: 22px; 
  margin-left: 40px; 
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.menu-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}





.sideItem {
  margin: 10px 0;
  padding: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.1s ease;
}




.plusItem > a{
  width: 100%;
}



/* 리스트 항목 스타일 */
.grid-list {
  display: none; /* 기본적으로 숨기기 */
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개씩 배치 */
  grid-gap: 5px; /* 항목 간 간격 */
  list-style: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
}



.grid-list li > a {
  border-radius: 8px; /* 둥근 모서리 */
  text-align: center; /* 텍스트 중앙 정렬 */
  position: relative;
}

.grid-list li > a::after{
  content: "";
  position: absolute;
  left:0px;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: gray;
  transform: scale(0);
  transition: transform 0.3s;
}

.grid-list li:hover > a::after {
  transform: scale(1) 
}

.grid-list li a {
  text-decoration: none; /* 기본 밑줄 제거 */
  color: #333; /* 링크 기본 색상 */
  font-size: 23px; /* 글씨 크기 */
  /* display: block; 전체 영역 클릭 가능 */
}

.grid-list li a:hover {
  color: #007BFF; /* 링크 호버 시 색상 변경 */
  text-decoration: underline; /* 호버 시 밑줄 표시 */
}

/* 더보기 버튼 스타일 */
.more-button {
  display: flex; /* 숨기기 기본값 */
  text-align: center;
  margin: 20px auto; /* 중앙 배치 */
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: black; /* 텍스트 색상 */
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px; /* 버튼 둥글게 */
  transition: background-color 0.3s ease;
  width: 80%; /* 텍스트 크기에 맞는 너비 */
}

.more-button:hover {
  text-decoration: none; /* 밑줄 제거 */
}












