

html, body, main {
  background-color: var(--main-gray-color);

  margin: 0 auto;

  color: var(--font-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section, .main-section, .right-section {
  margin-top: 150px;

  margin-bottom: 100px;
}

.device-order-compl-head {
  width: 100%;

  margin: 20px 0;

  padding: 10px;
}

.page-title {
  font-size: 32px;

}

.device-order-compl-container {
  width: 1000px;


  background-color: var(--white-color);

  border-radius: 15px;

  padding: 40px;

  display: flex;
  flex-direction: column;

  margin-bottom: 60px;
}

.span1 {
  font-size: 32px;
  font-weight: bold;
}

.device-name {
  font-size: 64px;
  font-weight: bold;
}

.device-img-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.device-img {
  width: 500px;
}


.device-order-info {
  display: flex;
  flex-direction: column;
}

.order-info-sub {
  font-size: 20px;
  margin: 10px 0;
  padding-left: 15px;
}


hr {
  width: 100%;
}

.point-box {
  width: 100%;

  display: flex;
  align-items: end;
  justify-content: end;

}


.point-box >span {
  width: 22%;
  font-size: 24px;

  padding: 10px;
  text-align: right;

  font-family: 'Pretendard-Thin';
}




.status-container {
  width: 1000px;
  background-color: var(--white-color);
  
  margin: 0 20px;
  margin-top: 30px;

  border-radius: 15px;

  padding: 20px;

}
.status-container >div {
  margin: 10px;
}

.status-title {
  display: inline-block;

  font-size: 24px;
  font-weight: bold;

  margin-bottom: 10px;
}


.order-info {
  display: flex;

  margin: 20px 0;

  padding-left: 10px;
}

.order-info > span:first-child {
  font-size: 20px;
  width: 150px;
}

.order-info > span:last-child {
  font-size: 20px;
  width: 500px;
}

.adress-area {
  display: flex;
  flex-direction: column;
}

.adress-area > span {
  font-size: 20px;
  width: 500px;
}

.info-box {
  width: 100%;

  text-align: center;

  font-size: 32px;

  margin: 20px 0;

  margin-top: 100px;
}



.check-btn {
  width: 400px;
  height: 60px;

  margin-top: 80px;

  background-color: var(--white-color);

  border: 2px solid var(--white-color);
  border-radius: 15px;

  font-size: 22px;

  transition-duration: 0.1s;
}

.check-btn:hover {
  border: 2px solid var(--main-color);
  cursor: pointer;
}