
html, body, main {
  background-color: var(--main-gray-color);

  margin: 0 auto;

  color: var(--font-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-section, .main-section, .right-section {
  margin-top: 150px;
}

.device-buying-head {
  width: 100%;
}

.page-title {
  display: inline-block;

  width: 58%;
  font-size: 64px;
  font-weight: 900;
  margin: 10px;
  text-align: left;
}

.page-title-sub {
  display: inline-block;

  width: 39%;
  padding: 20px;

  font-size: 32px;
}

.device-buying-container {
  width: 100%;

  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.device-buying-container > img {
  margin: 10px;
  width: 560px;
  height: 480px;
  border-radius: 15px;
}

.device-buying-info {
  width: 39%;
  padding: 12px;
}

.info-title >span{
  font-size: 20px;
}

.info-title >span:last-child{
  color: var(--font-gray-color);
}

.color-content {
  margin: 10px 0;

  padding: 10px;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  align-items: center;
  
}


.color-circle {
  margin: 4px;
  width: 32px;
  height: 32px;
  border: 2px solid var(--font-gray-color);
  border-radius: 32px;
  box-shadow: inset 0px 3px 6px 1px var(--font-gray-color);
}

.color-circle:hover {
  cursor: pointer;
}

.color-name {
  margin-left: 20px;
  font-size: 20px;
}




.capacity-content {
  margin: 10px 0;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  
}

.grade-content {
  margin: 10px 0;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  
}

.select-box {
  width: 100px;
  height: 100px;

  border: 2px solid var(--white-color);
  background-color: var(--white-color);
  border-radius: 10px;

  margin: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition-duration: 0.1s;

}

.selected-capacity {
  border: 2px solid var(--main-color);
}

.selected-grade {
  border: 2px solid var(--main-color);
}

.selected-color {
  border: 2px solid var(--main-color);
}






.select-box >span:first-child {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

.select-box >span:last-child {
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: right;
  font-size: 14px;

  font-family: 'Pretendard-Thin';
}





.select-box:hover {
  border: 2px solid var(--main-color);


  cursor: pointer;
}

hr {
  width: 100%;
}

.price-box {
  width: 100%;

  display: flex;

  margin-top: 30px;
  margin-bottom: 12px;

  margin-right: 45px;

  font-size: 32px;

  justify-content: end;

  font-family: 'Pretendard-Thin';
}

.price-box > span:first-child {
  width: 10%;

  text-align: center;
}

.price-box > span:last-child {
  width: 20%;
  text-align: right;
}

.btn-area {
  width: 100%;
  display: flex;

  justify-content: end;
}

.buying-btn {

  font-size: 22px;

  margin: 24px 16px;

  width: 280px;
  height: 60px;

  border-radius: 15px;
  border: none;
  background-color: var(--white-color);
  
}

.buying-btn:hover {
  border: 2px solid var(--main-color);
  cursor: pointer;
}


.chart-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding: 20px;

}

.chart-title >span:first-child{
  font-size: 48px;
  font-weight: bold;
  margin: 12px 0;
}

.chart-title >span:last-child {
  font-size: 32px;

  margin-left: 8px;

  font-family: 'Pretendard-Thin';

}

.chart-sub-title {
  margin: 8px 0;
}
.chart-sub-title >span {
  margin: 8px;
  font-size: 20px;
}

.chart-sub-title >span:last-child {
  font-family: 'Pretendard-Thin';
}


.device-info {
  width: 100%;

  margin-top: 72px;
  margin-bottom: 32px;

  padding: 20px;
}

.device-info-title {
  width: 100%;

  margin: 20px 0;
}

.device-info-title >span:first-child {
  font-size: 48px;
  font-weight: bold;

}


.device-info-title >span:last-child {
  font-size: 32px;

  font-family: 'Pretendard-Thin';

  margin-left: 8px;
}


.device-info-content {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;

}

.device-info-content-box {
  background-color: var(--white-color);
  border-radius: 15px;

  width: 440px;
  height: 220px;

  padding: 16px;

  margin: 10px;
  
}


.device-info-content-box-title {
  font-size: 20px;
  font-weight: bold;
}

.device-info-content-box-sub-title {
  font-size: 16px;
  margin: 20px 0;

  padding: 0 10px;
  display: flex;
}
.device-info-content-box-sub-title > span:first-child {
  font-weight: bold;
  min-width: 100px;
}

.none-product {
  opacity: 0.3;
}

.none-click {
  opacity: 0.3;
  pointer-events: none; 
}

.graph-info {
  width: 100%;
  text-align: left;

  padding-left: 35px;

  padding-top: 10px;

  color: gray;
}


.review-container {
  width: 940px;

  margin-top: 20px;

}

.review-head-box {
  width: 100%;

  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.review-title {
  font-size: 48px;

  font-weight: bold;


}

.star-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 32px;

}

.star-text {
  padding-top: 14px;
}

.star-score {
  padding-top: 14px;
}

.star-star{
  display: flex;
  margin: 1px;
}

.star-box {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.star {
  width: 16px;
}

.review-content-box {
  width: 100%;
  
  background-color: white;
  border: none;
  border-radius: 15px;

  padding: 20px;
  margin: 40px 0;
}





.review-content-info {
  width: 100%;
  display: flex;

  font-size: 20px;
  
}

.review-name {
  flex-grow: 5;
}

.review-star-container {
  flex-grow: 60;
}

.review-date {
  flex-grow: 20;
  text-align: right;

  font-family: 'Pretendard-Thin';
}

.review-device {
  font-size: 20px;

  font-family: 'Pretendard-Thin';
}

.review-main-content {
  margin: 20px 0;
  width: 100%;
  display: flex;
}

.review-text-box {
  width: 660px;
  margin: 20px;

  font-size: 16px;
}

.review-img-box {
  width: 200px;
  height: 200px;
}

.review-img-box img {
  width: 100%;
  height: 100%;
}





.review-star-container {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.review-star-star{
  display: flex;
  margin: 1px;
}

.review-star-box {
  display: flex;
}

.review-star {
  width: 12px;
}

.none-list {
  width: 100%;
  text-align: center;

  font-size: 40px;
  color: var(--font-gray-color);

  margin: 100px 0;
}



.review-btn-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.review-plus-btn {
  width: 600px;
  height: 60px;

  background-color: var(--white-color);

  border: 2px solid var(--white-color);
  border-radius: 15px;

  margin-top: 40px;
  margin-bottom: 40px;

  font-size: 22px;

  
  transition-duration: 0.1s;
}


.review-plus-btn:hover {
  border: 2px solid var(--main-color);
  cursor: pointer;
}