

html, body, main {
  background-color: var(--main-gray-color);

  margin: 0 auto;

  color: var(--font-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-section, .main-section, .right-section {
  margin-top: 150px;
}


.device-order-head {
  width: 100%;
  padding: 20px;
}

.page-title {
  font-size: 32px;

  font-weight: bold;

}

.device-order-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}


.order-img-box {
  background-color: white;


  margin:20px;
  width: 500px;
  min-height: 400px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.order-img-box > img {
  width: 480px;
}

.device-order-info {
  width: 45%;
  padding: 12px;
  display: flex;

  padding: 10px;

  flex-direction: column;


}

.order-info-title {
  font-size: 60px;
  font-weight: bold;

  margin-bottom: 40px;
}

.order-info-sub {

  margin-top: 24px;
  font-size: 24px;
}

.status-container {
  width: 960px;
  background-color: var(--white-color);
  
  margin: 0 20px;
  margin-top: 30px;

  border-radius: 15px;

  padding: 20px;


}
.status-container >div {
  margin: 10px;
}

.status-title {
  display: inline-block;

  font-size: 24px;
  font-weight: bold;

  margin-bottom: 10px;
}


.order-info {
  display: flex;

  margin: 20px 0;

  padding-left: 10px;
}

.order-info > span:first-child {
  font-size: 20px;
  width: 150px;

  
}


.order-info > input {
  width: 560px;
  height: 26px;

  font-size: 18px;

  margin-bottom: 10px;
  padding: 5px;

  background-color: var(--main-gray-color);

  border: none;
}


.price-span {
  display: inline-block;

  width: 100%;

  text-align: right;
  padding-right: 20px;

  margin-top: 30px;
  margin-bottom: 12px;
  font-size: 32px;

  font-family: 'Pretendard-Thin';
}

hr {
  width: 100%;
}

.btn-area {
  width: 100%;
  display: flex;

  justify-content: center;
}

.order-btn {

  font-size: 22px;

  margin: 60px;

  width: 280px;
  height: 60px;

  border-radius: 15px;
  border: none;
  background-color: var(--white-color);
  
}

.order-btn:hover {
  border: 2px solid var(--main-color);
  cursor: pointer;
}


.order-address {
  display: flex;
}


.order-address > input {
  width: 560px;
  height: 26px;

  font-size: 18px;

  margin-bottom: 10px;
  padding: 5px;

  background-color: var(--main-gray-color);

  border: none;
}

.order-address > button {
  width: 140px;
  height: 26px;

  font-size: 16px;

  margin-left: 20px;

  border: 2px solid var(--main-gray-color);

  font-family: 'Pretendard-Thin';

  transition-duration: 0.2s;
}

.order-address > button:hover {
  border: 2px solid var(--main-color);
  
}



.order-info > textarea {
  display: inline-block;
  font-size: 18px;
  width: 560px;

  padding: 8px;

  background-color: var(--main-gray-color);

  border: none;
}

.point-charge {
  width: 980px;

  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.point-charge > span {
  padding-right: 10px;

  font-family: 'Pretendard-Thin';

  color: rgb(255, 113, 113);
}


.point-charge > a {

  text-decoration-line: none;
  font-family: 'Pretendard-Thin';

  color: black;

}