<th:block th:if= "${eventList}">
  <th:block th:each= "event:${eventList}">
    <div class="event-object" 
      th:data-event-no="${event.eventNumber}"
      th:data-event-date="${event.eventWriteDate}"
      th:data-event-fl="${event.eventDelFl}"
      th:data-event-title="${event.eventTitle}"
      th:data-event-content="${event.eventContent}"
      th:data-event-img="${event.eventImage}"
      >
      <img th:src="${event.eventImage}" style="width: 100%;height: 90%; border: 1px solid black;"></img>
      <p style="text-align: center;" th:text="${event.eventTitle}"> 이벤트 제목 </p>
    </div>
  </th:block>
</th:block>