@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

#mainHeader {
  background-color: white;
}

#dropdown {
  background-color: white;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}




main div{
  /* border: 1px solid black; */
}

.mainPage{
  width: 100%;
}

.mainImg{
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}

.bestView {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 98px;
    padding-bottom: 40px;
}

.bestView-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
}



.device-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* 아이템 간 간격 */
}

.device-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* 카드 너비 */
    margin: 10px;

}

.device-image {
    width: 150px; /* 이미지 크기를 카드에 맞춤 */
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 2px 0px 1px rgba(160, 159, 159, 0.1);
    object-fit: cover;
    
}

.device-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}


.newDevice{
  font-size: 80px;
  font-weight: bold;
  min-width: 200px;
}

.SClass{
  min-width: 300px;
  font-size: 25px;
  margin-left: 30px;
  color: #6E6E73;
  font-size: clamp(18px, 3vw, 35px); /* 글자 크기 반응형 */
}

.viewImg{
  margin-left: 50px;
}
.viewImg1{
  margin-left: 130px;
}





ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-nav .dep1 > li{
  display: none;
  vertical-align: top;
}

.header-nav .dep1 > li:hover > .dep2{
  display: block;
}

/* mainImg */
.slider {
  width: 100%;
  max-width: 1900px;
  height: 730px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  background-size: 100vw;
}


.slideFont1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.slideFont1 * {
  width: 100vw;
}


/* 좌우 화살표 버튼 스타일 */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* 좌우 화살표 버튼 스타일 */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.prev2 {
  left: 0;
}

.next2 {
  right: 0;
}

.prev2:hover, .next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 슬라이드 위치를 표시하는 점(dot) 스타일 */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

.BCSInfo{
  margin-left: 10%;
}

.mainPageFoot{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.mainPageFooter-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mainFoot{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainFoot2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.a1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  min-width: 500px;
}
.a2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 650px;
}
.a3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 620px;
}

.viewer1{
  height: 14vh;
  border: 1px solid black;
}
.viewer2{
  height: 22vh;
  border: 1px solid black;
}
.viewer3{
  height: 22vh;
  border: 1px solid black;
}




.BLFont{
  font-size: 50px;
  font-weight: bold;
}

.subItem-box{
  margin-top: 50px; 
  width: 100%; 
  height: 700px; 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subItem-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.subItem-box{
  display: flex;

}

.subItem-1{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.subItem-2{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

.subItem-3{
  min-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subItem-4{
  display: flex;
}

.subItem-4 img{
  scale: 0.8;
}


/* BCS FLOW */

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 400px;
  padding-bottom: 80px;
}

.items-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 10px;
  height: 180px;
  width: 180px;
  box-shadow: 5px 5px 5px rgba(172, 171, 171, 0.2);
  
}

.items img {
  width: 45px;
  object-fit: cover;
  display: flex;
  margin-right: 80px;
  margin-bottom: 50px;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.flowContent-1{
  margin-bottom: 22px;
  font-size: 18px;
  font-family: 'Cafe24SsurroundAir';
}

@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.FlowTitle{
  font-size: 38px;
  font-family: 'RixYeoljeongdo_Regular';
  color: #6E6E73;
  margin-left: 100px;
}

.FlowContent{
  font-size: 25px;
  color: white;
  margin-right: 100px;
}

.items-main-container{
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}





/* Add this to the existing @media (max-width: 768px) section in main.css */
@media (max-width: 1465px) {

  .subItem-4 img{
    width: 100% !important;
  }

  .mainFoot2 img{
    width: 100% !important;
    height: auto !important;
  }

  


}

/* 기본 폰트 크기 반응형 설정 */
html {
  font-size: 16px; /* 기본값 */
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.bannerTitle{
  font-size: 80px;
  font-weight: bold;
}

.bannerContent{
  font-size: 30px;
  min-width: 500px;
}

.slideFont1{
  display: flex;
  flex-direction: column;
}

.eventBtn{
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  font-size: 25px;
}
.eventBtn a{
  color: white;
}










.left-font {
  text-align: start;
  padding-left: 280px;
}

.right-font {
  text-align: end;
  padding-right: 330px;

}

.eventBtn {
  display: flex;
  color: white;

  border-radius: 15px;

  font-size: 22px;
  
  background-color: black;
  text-align: center;
  width: 100%;
  height: 120%;
  align-items: center;
  justify-content: center;
}


.left-box {
  display: flex;

  justify-content: start;
}

.right-box {
  display: flex;

  justify-content: end;
}

.btn-banner-area > a{

  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

.black-font{
  color: black;
}

.white-font{
  color: white;
}


.BCSFlow{
  background : linear-gradient(to right, #FBFBD4 0%, #FAE4C8 46%, #DFD9E1 75%, #B7D7D5 100%) ;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

