@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

#mainHeader {
  background-color: white;
}

#dropdown {
  background-color: white;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}




main div{
  /* border: 1px solid black; */
}

.mainPage{
  width: 100%;
}

.mainImg{
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}

.bestView{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 70px;
  margin-top: 50px;
}

.bestView-2{
  font-size: 35px;
  margin-left: 30px;
  color: #6E6E73;
}

.viewImg{
  margin-left: 50px;
}
.viewImg1{
  margin-left: 130px;
}


.viewImg,
.viewImg1 {
  padding: 20px; /* 이미지 주위 여백 */
  box-shadow: 1px 3px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* 모서리를 둥글게 */
}



ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-nav .dep1 > li{
  display: none;
  vertical-align: top;
}

.header-nav .dep1 > li:hover > .dep2{
  display: block;
}

/* mainImg */
.slider {
  width: 100%;
  max-width: 1900px;
  height: 800px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  background-size: 100vw;
}


.slideFont1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.slideFontSize{
  font-size: 100px;
  margin-right: 50vw;
  margin-top: 30vh;
}


/* 좌우 화살표 버튼 스타일 */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 슬라이드 위치를 표시하는 점(dot) 스타일 */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

.BCSInfo{
  margin-left: 10%;
}

.mainPageFoot{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.mainFoot{
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.a1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 650px;
}
.a2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 650px;
}
.a3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 620px;
}

.viewer1{
  height: 14vh;
  border: 1px solid black;
}
.viewer2{
  height: 22vh;
  border: 1px solid black;
}
.viewer3{
  height: 22vh;
  border: 1px solid black;
}






/* mainImg */
.slider2 {
  width: 100%;
  max-width: 1000px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 150px;
  margin-bottom: 150px;
}

.slides2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin: auto;
}

.slide2 {
  min-width: 25%;
  box-sizing: border-box;
  height: 200px;
  width: 150px;
  padding: 80px;
}


.slideFont1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.slideFontSize{
  font-size: 100px;
  margin-right: 50vw;
  margin-top: 30vh;
}

img {
  width: 100%;
  display: block;
}

/* 좌우 화살표 버튼 스타일 */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 68%;
  width: 40px;
  padding: 8px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  border: none;
  user-select: none;
  border-radius: 50%;
}

.prev2 {
  left: 0;
}

.next2 {
  right: 0;
}

.prev2:hover, .next2:hover {
  background-color: rgba(224, 224, 224, 0.8);
}

.BLFont{
  font-size: 50px;
  font-weight: bold;
}

.subItem-box{
  margin-top: 50px; 
  width: 100%; 
  height: 700px; 
  background-color: white
}

.subItem-box{
  display: flex;

}

.subItem-1{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.subItem-2{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

.subItem-3{
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subItem-4{
  display: flex;
}

.pImgs-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pImgs-2{
  margin-left: 5px;
  margin-top: 15px;
  font-weight: bold;
}