

<div style="width: 100%; height: 100%; ">
  <div class="sidebar-chatting-detail-header" style="width: 100%; height: 10%;  padding: 20px; display: flex;" >
    <div class="sidebar-chatting-back" style="font-size: 30px; color: rgb(179, 179, 179); margin-right: 15px; cursor: pointer;"><</div>
    <p style="font-size: 30px; color: rgb(179, 179, 179);">채팅 내용</p>
  </div>
  <div class="sidebar-chatting-detail-body-admin">
    <input type="hidden" class="chat-room-member1" th:value="${chatroom.adminNo}">
    <input type="hidden" class="chat-room-member2" th:value="${chatroom.memberNo}">
    <th:block th:each= "message:${messageList}">
      <input type="hidden" class="getChatRoomNo" th:value="${message.chattingRoomNo}">
        <div class="chattingAreaAdmin">
          <th:block th:if= "${loginMember.memberName} == ${message.senderName}">
            <!-- <th:block th:if= "${message.chattingMessageImgCheck == 'N'}"><div class="chatting-receiver-div1"  style="width: max-content; max-width: 260px; height: max-content; float: right; padding: 10px; border: 1px solid gray; color: white; border-radius: 10px;"  th:text="${message.chattingMessageContent}"></div></th:block>
            <th:block th:unless= "${message.chattingMessageImgCheck == 'N'}"><div class="chatting-receiver-div1"  style="width: max-content; max-width: 260px; height: max-content; float: right; padding: 10px; border: 1px solid gray; color: white; border-radius: 10px;" ><img th:src="${message.chattingMessageContent}" style="width: 150px; height: 150px;"></div></th:block> -->
            <th:block th:if= "${message.chattingMessageImgCheck == 'N'}"><div class="chatting-receiver-area" style="width: max-content; max-width: 260px; height: max-content; float: right; padding: 10px; border: 1px solid gray; color: white; border-radius: 10px;" th:text="${message.chattingMessageContent}"></div></th:block>
            <th:block th:unless= "${message.chattingMessageImgCheck == 'N'}"><div class="chatting-receiver-area" style="width: max-content; max-width: 260px; height: max-content; float: right; padding: 10px; border: 1px solid gray; color: white; border-radius: 10px;"><img th:src="${message.chattingMessageContent}" style="width: 150px; height: 150px;"></div></th:block>
          </th:block>
          <th:block th:unless= "${loginMember.memberName} == ${message.senderName}">
            <div >
             <div class="chatting-receiver-div1">
                <img class="chatting-receiver-img1"  src="/images/상담.jpg">
                <div class="chatting-sender-name" th:text="${message.senderName}"></div>
             </div>
              <th:block th:if= "${message.chattingMessageImgCheck == 'N'}"><div class="chatting-receiver-div2"  th:text="${message.chattingMessageContent}"></div></th:block>
              <th:block th:unless= "${message.chattingMessageImgCheck == 'N'}"><div class="chatting-receiver-div2"><img th:src="${message.chattingMessageContent}" style="width: 150px; height: 150px;"></div></th:block>
            </div>
          </th:block>
     

        </div>
    </th:block>
    
  </div>
  <div class="sidebar-chatting-detail-input">
    <textarea class="sidebar-chatting-detail-inputbar" spellcheck="false"></textarea>
    <label class="sidebar-chatting-detail-imginputbtn" for="sidebarImg" ><img src="/images/help/clip.png"  style="width: 25px; height: 25px;"></label>
    <input  type="file" style="display: none;" accept="image/*" id="sidebarImg" onchange="chattingUpload(this)">
    <button class="sidebar-chatting-detail-inputbutton">보내기</button>
  </div>
</div>