<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iPhone 16 주문 </title>
  <link rel="stylesheet" href="/css/deviceBuying/deviceOrderCompl.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>

  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section" th:object="${order}">
      <div class="device-order-compl-head">
        <span class="page-title">
          배최성을 이용해 주셔서 감사합니다
        </span>
      </div>

      <div class="device-order-compl-container">
        <span class="span1">구매하신 상품 정보</span>
        <span class="device-name" th:text="*{deviceName}">iPhone 16</span>

        
        <div class="device-img-box">
          <img th:src="*{colorDeviceImg}" alt="" class="device-img">
        </div>


        <div class="device-order-info">
          <span class="order-info-sub" th:text="*{colorName}">코발트 블루</span>
          <span class="order-info-sub" th:text="*{capacityType}">128 GB</span>
          <span class="order-info-sub" th:text="|*{gradeType} 등급|">S 등급</span>
        </div>

      </div>

      <div class="point-box">
        <span>
          결제 전 포인트
        </span>
        <span data-th-text="${#numbers.formatInteger(point.originalPoint, 0, 'COMMA') + ' P'}">
          충전 전 포인트 100,000 P
        </span>
      </div>

      <div class="point-box">
        <span>
          결제 포인트
        </span>
        <span data-th-text="${#numbers.formatInteger(point.amount, 0, 'COMMA') + ' P'}">
          충전 포인트 + 100,000 P
        </span>
      </div>

      <hr>
      <div class="point-box">
        <span>
          현재 포인트
        </span>
        <span data-th-text="${#numbers.formatInteger(point.balance, 0, 'COMMA') + ' P'}">현재 포인트 100,000 P</span>
      </div>


      <div class="info-box">아래 에서 입력하신 정보를 확인해주세요</div>

      <div class="status-container">
        <span class="status-title">구매자 정보</span>
        <div class="order-info">
          <span>받는 분 이름</span>
          <span th:text="*{orderName}"></span>
        </div>
        <div class="order-info">
          <span>받는 분 전화번호</span>
          <span th:text="*{orderTel}"></span>
        </div>
      </div>



      <div class="status-container">
        <span class="status-title">배송지 정보</span>
        <div class="order-info">
          <span>주소</span>
          <div class="adress-area">
            <span th:text="${postcode}"></span>
            <span th:text="${address}"></span>
            <span th:text="${detailAddress}"></span>
          </div>
        </div>
        <div class="order-info">
          <span>요청 사항</span>
          <span th:text="*{orderComment}"></span>
          <span th:unless= "*{orderComment}">요청 사항을 입력하지 않으셨습니다</span>
        </div>
      </div>

      <hr style="margin: 30px;">


      <button class="check-btn">확인</button>

    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    <th:block th:replace="~{common/footer}"></th:block>
  </footer>

  <script>
  const checkBtn = document.querySelector(".check-btn");

  checkBtn.addEventListener("click", () => {

    location.href = "/myPage/myPageSalesHistoryy";
  });

  </script>
</body>
</html>