<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title  th:text="|${device.deviceName} 구매하기|">아이폰 16 구매하기</title>
  <link rel="stylesheet" href="/css/deviceBuying/deviceBuying.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
  
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">
      <div class="device-buying-head">
        <span class="page-title" th:text="${device.deviceName}">
          iPhone 16
        </span>
        <span class="page-title-sub">
          구매하기
        </span>
      </div>

      <div class="device-buying-container">
        <img src="/images/sample_iphone16.jpg" alt="">

        <div class="device-buying-info">

          <div class="info-title">
            <span>색상. </span>
            <span>색상을 선택하세요</span>
          </div>
          <div class="color-content">
            <div class="color-circle" th:style="|background-color: *{colorCode};|" th:data-value="*{colorNo}" th:data-value2="*{colorName}" th:each="color:${device.colorList}" th:object="${color}">
            </div>

            <span class="color-name"></span>
          </div>

          <div class="info-title">
            <span>용량. </span>
            <span>용량을 선택하세요</span>
          </div>
          <div class="capacity-content">

            <th:block th:each="capacity:${device.capacityList}" th:object="${capacity}">
              <div class="select-box capacity-box" th:data-value="*{capacityNumber}">
                <span th:text="*{capacityType}">B 등급</span>
                <span th:text="|+ *{#numbers.formatInteger(capacityPrice, 0, 'COMMA')} ₩|"
                      th:data-value="*{capacityPrice}">+ 0 ₩</span>
              </div>

            </th:block>


          </div>

          <div class="info-title">
            <span>등급. </span>
            <span>등급을 선택하세요</span>
          </div>
          <div class="grade-content">

            
            <th:block th:each="grade:${device.gradeList}" th:object="${grade}">
              <div class="select-box grade-box" th:data-value="*{gradeNumber}">
                <span th:text="|*{gradeType} 등급|">B 등급</span>
                <span th:text="|+ *{#numbers.formatInteger(gradePrice, 0, 'COMMA')} ₩|"
                      th:data-value="*{gradePrice}" >+ 0 ₩</span>
              </div>
  
            </th:block>

          </div>

        </div>



      </div>

      <div class="price-box">
        <span>가격 </span>
        <span class="price-span" th:text="|${#numbers.formatInteger(device.deviceBuyingPrice, 0, 'COMMA')} ₩|">1,234,567 ₩</span>
      </div>

      <hr>

      <div class="btn-area">
        <form th:action="|/device/order/${device.deviceNo}|" 
              method="POST" 
              id="buyingFrm">
          <button class="buying-btn" id="buyingBtn">구매하기</button>
        </form>
      </div>

      <div class="chart-info">

        <div class="chart-title" >
          <span>최근 시세표</span>
          <span class="current-date">2024.11</span>
        </div> 
        <div class="chart-sub-title" th:if="${#arrays.length(priceList) > 0}">
          <span>최고가</span>
          <span th:text="|${#numbers.formatInteger(priceStatus.maxPrice, 0, 'COMMA')} ₩|">100,000 ₩</span>
        </div>
        <div class="chart-sub-title" th:if="${#arrays.length(priceList) > 0}">
          <span>최저가</span>
          <span th:text="|${#numbers.formatInteger(priceStatus.minPrice, 0, 'COMMA')} ₩|">100,000 ₩</span>
        </div>
        <div class="chart-sub-title" th:if="${#arrays.length(priceList) > 0}">
          <span>평균가</span>
          <span  th:text="|${#numbers.formatInteger(priceStatus.avgPrice, 0, 'COMMA')} ₩|">100,000 ₩</span>
        </div>

      </div>

      <canvas id="myChart" width="950px" height="500px"></canvas>
      <div class="graph-info">* 상기 시세표에 비어있는 구간이 있다면 해당 년월에 거래가 발생하지 않았음을 의미합니다</div>


      <div class="device-info" th:object="${device}">
        <div class="device-info-title">
          <span th:text="*{deviceName}">iPhone 16</span>
          <span>상세 스펙</span>
        </div>

        <div class="device-info-content">

          <div class="device-info-content-box">
            <div class="device-info-content-box-title">
              <span>기본 사양</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>출고가</span>
              <span th:text="|*{#numbers.formatInteger(deviceReleasePrice, 0, 'COMMA')} ₩|"></span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>출시일</span>
              <span th:text="*{deviceReleaseDate}"></span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>배터리 용량</span>
              <span th:text="*{deviceBatteryCapacity}">정보</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>무게</span>
              <span th:text="*{deviceWeight}">정보</span>
            </div>
          </div>

          
          <div class="device-info-content-box">
            <div class="device-info-content-box-title">
              <span>카메라</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>전면화소</span>
              <span th:text="*{deviceFrontPixel}">정보</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>후면화소</span>
              <span th:text="*{deviceBackPixel}">정보</span>
            </div>
          </div>

          
          <div class="device-info-content-box">
            <div class="device-info-content-box-title">
              <span>디스플레이</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>화면 크기</span>
              <span th:text="*{displaySize}">정보</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>해상도</span>
              <span th:text="*{deviceResolution}">정보</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>화소 밀도</span>
              <span th:text="*{devicePixel}">정보</span>
            </div>

          </div>

          
          <div class="device-info-content-box">
            <div class="device-info-content-box-title">
              <span>시스템</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>운영체제</span>
              <span th:text="*{deviceOs}"></span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>메모리</span>
              <span th:text="*{ramCapacity}">정보</span>
            </div>
            <div class="device-info-content-box-sub-title">
              <span>CPU</span>
              <span th:text="*{deviceCpuName}">정보</span>
            </div>
          </div>

          

        </div>
      </div>

      <hr>

      <div class="review-container">
        <div class="review-head-box">

          <div class="review-title">고객 후기(37)</div>


          <div class="star-container">
            <div class="star-text">평점</div>
            <div class="star-box">
              <div class="star-star">
                <img src="/images/review2/empty-star-left.png" alt="0.5점" class="star" data-value="0.5">
                <img src="/images/review2/empty-star-right.png" alt="1점"   class="star" data-value="1">
              </div>
              <div class="star-star">
                <img src="/images/review2/empty-star-left.png" alt="1.5점" class="star" data-value="1.5">
                <img src="/images/review2/empty-star-right.png" alt="2점"   class="star" data-value="2">
              </div>
              <div class="star-star">
                <img src="/images/review2/empty-star-left.png" alt="2.5점" class="star" data-value="2.5">
                <img src="/images/review2/empty-star-right.png"alt="3점"   class="star" data-value="3">
              </div>
              <div class="star-star">
                <img src="/images/review2/empty-star-left.png" alt="3.5점" class="star" data-value="3.5">
                <img src="/images/review2/empty-star-right.png"alt="4점"   class="star" data-value="4">
              </div>
              <div class="star-star">
                <img src="/images/review2/empty-star-left.png" alt="4.5점" class="star" data-value="4.5">
                <img src="/images/review2/empty-star-right.png"alt="5점"   class="star" data-value="5">
              </div>
            </div>
            <div class="star-text">4.0</div>
          </div>

        </div>

        <div class="review-content-box">
          <div class="review-content-head">
            <div>별</div>
            <div class="review-content-info">
              <div class="review-name"></div>
              <div class="review-date"></div>
            </div>
          </div>

          <div class="review-main-content">
            <div class="review-img-box"></div>
            <div class="review-text-box"></div>
          </div>

        </div>

      </div>

    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    <th:block th:replace="~{common/footer}"></th:block>
  </footer>


  <script th:inline="javascript">
    const device = /*[[${device}]]*/ 기종;
    const loginMember = /*[[${session.loginMember}]]*/ 로그인회원;

    const priceList = /*[[${priceList}]]*/ 시세정보;
  </script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/deviceBuying/deviceBuying.js"></script>
 
</body>
</html>